<html> 

    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <% include menu.html %> 
        <title> Registrar Abono de Participante </title>       
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="resources/style.css">
    
    </head>
    <style>

      
    </style>
<body> 

        <div class="body"> 
        <br>
        <center><h6> Registrar Abono </h6>
        
        <h3><%= consulta.name %></h3></center>
        <br><br>
       
        <form action="/abonar-<%= consulta.id %>" method="post" id="forma-registro">
                 <!-- COSTO Paquetes -->
                <p class="title"> Cantidad: </p>
                <input type=number placeholder="$$" name="abono" class="numero"  >
                <p class="error"> *Debe llenar esta información </p>
               
                <input type="text" placeholder="Código de Grupo" name="group-code" rquired><br> <br>

				<!-- TALLA s -->
                <select id="select" name="talla">
                    <option value="none" selected disabled> Talla... </option>
                  <option value="XS"> XS </option>
                  <option value="S"> S </option>
                  <option value="M"> M </option>
                  <option value="L"> L </option>
                  <option value="XL"> XL </option>
                </select>
                <p class="error"> *Debe llenar esta información </p>
                
                
 
                
                <center>
                <div class="registro">
                        <hr>
                    <button type="submit" class="submit"> Siguiente </button>  
                    <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                    </div>
                </center>
        </form>

        </div>

        </div>

</body>
        
        <script>

            function validate(){
                var alert = confirm('Estás a punto de registrar un abono. Ésta acción no puede eliminarse, ¿Seguro que desea proseguir?');
                if (alert) {
                    document.getElementById("forma-registro").submit();
                } else {
                    // Do nothing!
                }
            }


              //INCLUIR DOCUMENTOS

        </script>
</html>