<html> 

    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Consulta Staff </title>
        <script src="https://www.w3schools.com/lib/w3.js"></script>
        <% include menu.html %>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="resources/style.css">
    
    </head>
<body>
        
        <div class="body">
	        <center>
	        	<h6><b> Consulta Staff </b></h6> 
	        
	        <br>
	        
		        <div class="spacer"></div>
		        <img src="<%= consulta.photo %>" class="staff-pic">
	        </center>
	        <br>
	        <h3> <%= consulta.name %> </h3>
	        <p> <i> <%= consulta.position %> <%= consulta.team %> </i></p>
	        <hr>
	        <p> <%= consulta.major %>, <%= consulta.semester %> Semestre </p>
	        <p> Talla: <%= consulta.shirt_size %> </p>
	        <p id="telephone"> <%= consulta.phone %>  <button onClick="location.href='tel:<%= consulta.phone %>'">llamar</button></p>
	        <p> <%= consulta.email %> </p>
	        <h3 class='black'> Activo en Puesto de Venta 3 </h3>
	        <button onClick="location.href='<%= consulta.facebook %>'">Ver en Facebook</button>
	        <hr> 
	        <br>
        </div>

</body>
        
        <script>
         	  //INCLUIR DOCUMENTOS
				function eliminar(){
				if(confirm("Ésta a punto de eliminar éste contenido. Ésta acción no puede revertirse. ¿Desea continuar?")){ location.href="eliminar-staff";
						
						}
					else { };
				}
				
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

			function votar(elem){
				if(elem.innerHTML == "✓ Haz Votado (click para cancelar)"){
					elem.innerHTML = "Votar para Próximo Coordinador General";
					elem.style.color = "#CCC"; 
				}
				else {
					elem.innerHTML = "✓ Haz Votado (click para cancelar)";
					elem.style.color = "#46C7F4"; 
				}
			}

        </script>
</html>