<html> 

	<head>		
		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		

		<!--- Title --> 
        <title> Consulta Participante </title>

		<!--- Incluir documeentos -->
<% include menu.html %>
            
        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
	
        <div class="body">
        <center><h6><b> Consulta Participante </b></h6> </center>
		<br>
		<button onClick="editar();"> Editar </button>
		<button onClick="eliminar();"> Eliminar </button>
		<button onClick="location.href='abono?id=<%= consulta.id %>'">Abono</button>
				<div class="consulta">	
		        <br><br>
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Nombre: <p><i> <%= consulta.name %> </i></p> </h3><br>

				<% if(consulta.selected_package) { %>
				<%= JSON.stringify(consulta.selected_package, null, 4) %>
				<h3> Paquete Elegido: <p><i> <%= consulta.selected_package.package.name %> </i></p> </h3><br>
				<h3> Deuda: <i><p id="saldo">$<%= consulta.selected_package.debt %></p> </i></h3><br>
				<h3> Talla de camiseta: <p><i> <%= consulta.selected_package.shirt_size %> </i></p> </h3><br>
				<% } else { %>
				<h3> Paquete Elegido: <p><i> Ninguno </i></p> </h3><br>
				<% } %>
                <!-- TELEFONO Participantes, Conferencias, Visita,Taller, Evento Social, Patrocinadores -->
                <h3> Teléfono: <p><i> <%= consulta.phone %> <button style="margin-left: 20px;" onClick="location.href='tel:6861234567'"> Llamar </button></i></p></h3><br>

				<!-- CORREO Participantes, Conferencias, Visita, Taller, Evento Social, Patrocinadores -->
				<h3> Correo: <p><i> <%= consulta.email %> </i></p> </h3><br>

				<!-- INSTITUCION DE PROCEDENCIA Participante-->
				<h3> Institución: <p><i> <%= consulta.institution %> </i></p> </h3><br>

				<!-- CIUDAD Participante-->
				<h3> Ciudad: <p><i> <%= consulta.city %> </i></p> </h3><br>

                <!-- CODIGO DE GRUPO -->
		        <h3> Codigo de Grupo: <p><i> XHDERBEZ </i></p> </h3><br>

                <!-- ALERGIAS Participante-->
		        <h3> Alergias: <p><i> <%= consulta.alergies %> </i></p> </h3><br>

                <h3> Liquidado el: <i><p> 13/SEP/17 22:45h</p> </i></h3><br>
                </div>


                
                <hr> 
 
                <h3> Historial de Acciones </h3><div class="spacer"></div>
                
                <div class="accion">
	           		 <h3> Registro </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Registrado por: <i> Internet </i> </p>
        		</div>
                <div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>

        		<div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>

        		<div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>
        		<div class="accion">
	           		 <h3> Liquidado </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>


        </div>

</body>
		
		<script>
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
</html>