<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Consulta Patrocinadores </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
        <center><h6><b> Consulta Patrocinadores </b></h6> </center>
		<br>
<button onClick="location.href='editar-patrocinadores?id=<%= consulta._id %>'"> Editar </button> <button onClick="eliminar();"> Eliminar </button> <form id="eliminar" method="post" action="/eliminar-patrocinadores"><input type="hidden" name="codigo" value="<%= consulta._id %>"> </form>			
			   <div class="consulta">
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Empresa: <p><i> <%= consulta.name %>  </i></p> </h3><br>                
                
                <!-- NOMBRE DE CONTACTO Conferencia, Visita, Taller, Evento Social, Patrocinadores -->
				<h3> Nombre de Contacto: <p><i> <%= consulta.contact_name %>  </i></p> </h3><br>                
                
                <!-- TELEFONO Participantes, Conferencias, Visita,Taller, Evento Social, Patrocinadores -->
				<h3> Teléfono: <p><i> <%= consulta.contact_phone %>  <button style="margin-left: 20px;" onClick="location.href='tel:<%= consulta.contact_phone %> '"> Llamar </button></i></p></h3><br>				
                
                <!-- CORREO Participantes, Conferencias, Visita, Taller, Evento Social, Patrocinadores -->
				<h3> Correo de Contacto: <p><i> <%= consulta.contact_email %> </i></p> </h3><br>                
                
                <!-- Foto del ____ Conferencista, Tallerista, Evento Social, Patrocinadores  -->
				<h3> Logo de la Empresa:</h3><br>
                <div class="logoPreview" style="background:black;color:white">
                |<img src="<%= consulta.company_logo %>" class="imgPreview">|
                </div>
                
                <!-- ABONO Participante, Patrocinadores-->
                <h3> Patrocinio: <p><i> <%= consulta.payment %> </i></p> </h3><br>
                </div>
                
               

            
			</form>
		</div>

</body>	<script>
			function eliminar(){
					if(confirm("Está a punto de eliminar este contenido. Esta acción no puede revertirse. ¿Desea continuar?")){ 	
					document.getElementById("eliminar").submit();
	
						}
				}
				
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS

		</script>
</html>