<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Consulta Participante </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
	
        <div class="body">
        <center><h6><b> Consulta Participante </b></h6> </center>
		<br>
		<button onClick="location.href='editar-participante'"> Editar </button>
		<button onClick="eliminar();"> Eliminar </button>
		<button onClick="location.href='abono?id=<%= consulta.id %>'">Abono</button>
		<button class="unactive"onClick="asistio(this);"><span id="asistioIcon">☐</span> Asistió</button>
				<div class="consulta">	
		        <br><br>
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Nombre: <p><i> <%= consulta.name %> </i></p> </h3><br>

				<% if(consulta.selected_package) { %>
				<%= // JSON.stringify(consulta.selected_package, null, 4) %>
				<h3> Paquete Elegido: <p><i> <%= consulta.selected_package.package.name %> </i></p> </h3><br>
				<% if(consulta.selected_package.group_code) { %>
					<h3> Codigo de grupo: <p><i> <%= consulta.selected_package.group_code %> </i></p> </h3><br>
					<h3> Miembros: <p><i> <%= consulta.selected_package.members %> </i></p> </h3><br>
				<% } %>
				<h3> Deuda: <i><p id="saldo">$<%= consulta.package_information.debt %></p> </i></h3>
				<% if(consulta.package_information.liquidation_date) { %>
				<h3> Fecha de liquidacion: <i><p><%= consulta.package_information.liquidation_date %></p></i></h3>
				<% } %>
				<br>
				<h3> Talla de camiseta: <p><i> <%= consulta.package_information.shirt_size %> </i></p> </h3><br>
				<% } else { %>
				<h3> Paquete Elegido: <p><i> Ninguno </i></p> </h3><br>
				<% } %>
				
				<% if(consulta.email) { %>
				<h3> Correo: <p><i> <%= consulta.email %> </i></p> </h3><br>
				<% } %>

				<% if(consulta.institution) { %>
				<h3> Institucion: <p><i> <%= consulta.institution %> </i></p> </h3><br>
				<% } %>

				<% if(consulta.city) { %>
				<h3> Ciudad: <p><i> <%= consulta.city %> </i></p> </h3><br>
				<% } %>

				<% if(consulta.phone) { %>
				<h3> Teléfono: <p><i> <%= consulta.phone %> <button style="margin-left: 20px;" onClick="location.href='tel:<%= consulta.phone %>'"> Llamar </button></i></p></h3><br>
				<% } %>

				<% if(consulta.alergies) { %>
				<h3> Alergias: <p><i> <%= consulta.alergies %> </i></p> </h3><br>
				<% } %>

                </div>
                
                <hr> 
 
                <h3> Historial de Acciones </h3><div class="spacer"></div>
                
                <div class="accion">
	           		 <h3> Registro </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Registrado por: <i> Internet </i> </p>
        		</div>
                <div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>

        		<div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>

        		<div class="accion">
	           		 <h3 class="dineromas"> +$450 </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>
        		<div class="accion">
	           		 <h3> Liquidado </h3><p> 13/SEP/17 22:45h</p> <br>
	           		 <p> Recibido por: <i> Miembro Staff </i> </p>
        		</div>


        </div>

</body>
		
		<script>
			function asistio(elem){
				if(elem.classList.contains('unactive')){ 
				elem.classList.remove('unactive'); 
				document.getElementById("asistioIcon").innerHTML = "✔"; }
				
				else{ 
				elem.classList.add('unactive');
				document.getElementById("asistioIcon").innerHTML = "☐"; }
				
				}
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
</html>