<html> 

	<head>		
		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<!--- <% include menu.html %> -->

		<!--- Title --> 
        <title> Consulta Conferencia </title>

		<!--- Incluir documeentos -->
<% include menu.html %>
            
        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
        <center><h6><b> Consulta Testimoinos </b></h6> </center>
		<br>
        <button onClick="location.href='editar-conferencia?code='"> Editar </button> <button onClick="eliminar();"> Eliminar </button>
			<div class="consulta">
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Nombre: <p><i> Nombre Nombre Apellido Apellido </i></p> </h3><br>               
                
                
                <!-- Foto del ____ Conferencista, Tallerista, Evento Social, Patrocinadores  -->
				<h3> Foto de la Persona:</h3><br>
                <div class="foto persona" style="background-image: url('resources/user_example.png')"> </div>

                <!-- Resuemn Conferencia, Taller, Evento Social, Blog, Punto de Venta -->
                <h3> Testimonio: <p><i> Este es un resumen considerablemente corto... </i></p> </h3><br><!-- Descripción Conferencia, Taller, Evento Social, Blog, Punto de Venta, Preguntas Frecuentes -->
                
				<h3> Index: <p><i> Pos. 3. </i></p> </h3><br>
				</div>

				
                <hr>
                <h3> Historial de Cambios </h3>
		         <div class="accion">
		            <h3> Creado </h3><p> 13/SEP/2017 22:45h</p> <br>
		            <p>Por: <i> Nombre Miembro Staff </i> </p>
		        </div>

		        <div class="accion">
		            <h3> Editado </h3><p> 13/SEP/17 22:46h</p> <br>
		            <p>Por: <i> ONombre Miembro Staff </i> </p>
		        </div>
		        <div class="accion">
		            <h3> Eliminado </h3><p> 13/SEP/2017 22:47h</p> <br>
		            <p>Por: <i> Nombre Miembro Staff </i> </p>
		        </div>
               
		</div>

</body>	<script>
			function eliminar(){
					if(confirm("Ésta a punto de eliminar éste contenido. Ésta acción no puede revertirse. ¿Desea continuar?")){
						
						}
					else { };
				}
				
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS

		</script>
</html>