<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Consulta Evento Extra </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
        <center><h6><b> Consulta Evento Extra </b></h6> </center>
		<br>
 		<button onClick="location.href='editar-evento-extra?id=<%= consulta._id %>'"> Editar </button> 
        <button onClick="eliminar();"> Eliminar </button> <form id="eliminar" method="post" action="/eliminar-evento-extra"><input type="hidden" name="codigo" value="<%= consulta._id %>"> </form>
			<div class="consulta">
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Título: <p><i> <%= consulta.name %> </i></p> </h3><br>                
                
                <!-- DIA/MES/ANO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
				<h3> Fecha y Hora: <p><i>
				<%
					var options = {  
					    weekday: "long", year: "numeric", month: "long",  
					    day: "numeric", hour: "2-digit", minute: "2-digit"  
					};

					var hour_options = {
						hour: "2-digit", minute: "2-digit"
					};
				%>
				<%= consulta.start.toLocaleString("en-us", options); %>
				-
				<%= consulta.end.toLocaleString("en-us", hour_options); %>
				</i></p> </h3><br>               
                
                <!-- LUGAR EN CETYS Conferencia, Taller, Evento Extra -->
				<h3> Lugar en Cetys: <p><i> <%= consulta.location %> </i></p> </h3><br>                

            
                <!-- ICONO Evento Extra -->
                <h3> Ícono </h3><br>
				<img src="<%= consulta.event_icon %>" class="foto"> </div>


		</div>

</body>	<script>
				function eliminar(){
					if(confirm("Está a punto de eliminar este contenido. Esta acción no puede revertirse. ¿Desea continuar?")){ 	
					document.getElementById("eliminar").submit();
	
						}
				}
				
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS

		</script>
</html>