<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Consulta Punto de Venta </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
        	<center><h6><b> Consulta Punto de Venta </b></h6> </center>
		<br>
<button onClick="location.href='https://trascendencias.org:8443/registro/editar-punto-venta?id=<%= consulta.id %>'"> Editar </button> <button onClick="eliminar();"> Eliminar </button> <form id="eliminar" method="post" action="/eliminar-punto-venta"><input type="hidden" name="codigo" value="<%= consulta._id %>"> </form>			
			   <div class="consulta">
				<!-- NOMBRE/TITULO TODOS-->
				<h3> Lugar: <p><i> <%= consulta.name %> </i></p> </h3><br>                
                
                <!-- DIA/MES/ANO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
				<h3> Fecha de inicio: <p><i>
                <%
                    var options = {  
                        weekday: "long", year: "numeric", month: "long",  
                        day: "numeric", hour: "2-digit", minute: "2-digit"  
                    };
                %>
                <%= consulta.start.toLocaleTimeString("en-us", options); %>
                </i></p> </h3><br>
                <h3> Fecha de cerrado: <p><i>
                <%= consulta.end.toLocaleTimeString("en-us", options); %>
                </i></p> </h3><br>                
                
                <!-- DIRECCION Conferencia, Taller, Evento Extra, Visita, Punto de Venta -->
				<h3> Horario: <p><i> <%= consulta.location %> </i></p> </h3><br>                
                
                
                </div>
                
                

            </div>

</body>	<script>
			function eliminar(){
					if(confirm("Está a punto de eliminar este contenido. Esta acción no puede revertirse. ¿Desea continuar?")){ 	
					document.getElementById("eliminar").submit();
	
						}
				}
				
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS
            var videocount = 2;
            var fotoscount = 2;

            function validate(){
                document.getElementById("forma-registro").submit();
            }
            
            function masvideo(){
                var videoinput = "<input maxlength='50' name='video"+ videocount +"' class='video' required><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('videos').innerHTML += videoinput;
                videocount++;
            }
            function masfoto(){
                var fotosinput = "<input type='file' width='150px' name='foto"+fotoscount+"' value='fileupload' id='image' style='display: inline;'><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('fotos').innerHTML += fotosinput;
                fotoscount++;
            }
            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>