<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Editar Taller </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Editar Taller </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="/editar-taller" encType="multipart/form-data"> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="taller">
                <input type="hidden" name="id" value="<%= consulta._id %>">
                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" type="text" placeholder="Nombre" name="name" value="<%= consulta.name %>" required>
            
                <!-- DIA/MES/ANO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fecha: </p>
                <input name="day" onBlur="timeFields();" class="date" id="day" type="date" value='<%= consulta.start.getFullYear() %>-<% if(consulta.start.getMonth()+1 < 10){ %>0<% } %><%= consulta.start.getMonth()+1 %>-<% if(consulta.start.getDate() < 10){ %>0<% } %><%= consulta.start.getDate() %>' required>
                
                
                <!-- HORA INICIO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Inicio: </p>
                <input type="time" name="start_time" onBlur="timeFields();" id="start_time" value="<% if(consulta.start.getHours() < 10){ %>0<% } %><%= consulta.start.getHours() %>:<% if(consulta.start.getMinutes() < 10){ %>0<% } %><%= consulta.start.getMinutes() %>" class="time" required>
                
                
                <input type="hidden" id="start" name="start"> 
                <input type="hidden" id="end" name="end"> 
                
                <!-- HORA FIN Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fin: </p>
                <input type="time" name="end_time" onBlur="timeFields();" id="end_time" value="<% if(consulta.end.getHours() < 10){ %>0<% } %><%= consulta.end.getHours() %>:<% if(consulta.end.getMinutes() < 10){ %>0<% } %><%= consulta.end.getMinutes() %>" class="time" required>

                <!-- NOMBRE DE CONTACTO Conferencia, Visita, Taller, Evento Social, Patrocinadores -->
                <input maxlength="50" type="text" placeholder="Nombre de Tallerista" name="instructor_name" value='<%= consulta.instructor_name %>' required>
                
                <!-- TITULOS DEL PRESENTADR  Conferencia, Taller -->
                <input maxlength="50" type="text" placeholder="Titulos del Tallerista" name="instructor_titles" value='<%= consulta.instructor_titles %>' required>
                
                <!-- TELEFONO Participantes, Conferencias, Visita,Taller, Evento Social, Patrocinadores -->
				<input onKeyPress="return isNumberKey(event)" maxlength="10" type="text" placeholder="Teléfono del Tallerista" name="instructor_phone" value='<%= consulta.instructor_phone %>' required>
                
				<!-- CORREO Participantes, Conferencias, Visita, Taller, Evento Social, Patrocinadores -->
				<input maxlength="50" type="email" placeholder="Correo del Tallerista" name="instructor_email" value='<%= consulta.instructor_email %>' required>

                <!-- LUGAR EN CETYS Conferencia, Taller, Evento Extra -->
                <select id="select" name="location" value="<%= consulta.location %>" required>
				<option value="<%= consulta.location %>" selected> >> <%= consulta.location %> </option>
				<% include lugares-cetys.html %>
                </select>
                

                
                <!-- CUPO Visita, Taller, Paquete -->
                <p class="title"> Cupo: </p>
                <input type=number name="cap" class="numero" value='<%= consulta.cap %>'required>
                
                
                <!-- Requisitos Visita, Taller, Oferta  -->
                <textarea name="requisites" class="large-text" placeholder="Requisitos..." required><%= consulta.requisites %></textarea>
                
                <!-- NO FUNCIONA 

                <p class="title"> Foto del Tallerista (300x300px)</p>
                <input required type="file" width="150px" name="instructor_photo" value="fileupload" id="image" style="display: inline;" required>
                
                

                <p class="title"> Fotos </p>
                <input type="file" width="150px" name="photos" value="fileupload" id="image" style="display: inline;" multiple required>
                
                
                <div id="videos">
                <p class="title"> URL en Youtube de videos </p>
                <input maxlength="50" type="text" placeholder="URL Video 1" name="video_urls" class="video">
                
                </div>
               <button class="third" onClick="masvideo()" type="button"> Agregar Video </button>
                -->
                
                
                <!-- Resuemn Conferencia, Taller, Evento Social, Blog, Punto de Venta -->
                <textarea name="summary" id="resumen" placeholder="Resumen..." required><%= consulta.summary %></textarea>
                
                
                <!-- Descripción Conferencia, Taller, Evento Social, Blog, Punto de Venta, Preguntas Frecuentes -->
                <textarea name="description" class="large-text" placeholder="Descripción..." required><%= consulta.description %></textarea>
                
 
                <hr>
				<button type="submit" class="submit"> Siguiente </button>
                <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
				<script>
		var startTime;
		var endTime;
		timeFields();
		 function timeFields(){
                startTime = document.getElementById("day").value.toString()+"T"+document.getElementById("start_time").value+":00-00:00";
				endTime = document.getElementById("day").value.toString()+"T"+document.getElementById("start_time").value+":00-00:00";
				document.getElementById("start").value = startTime;
				document.getElementById("end").value = endTime;
            }
			
			
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

            var videocount = 2;
            function masvideo(){
            var videoinput = "<input maxlength='50' name='video_urls"+ videocount +"' class='video' placeholder='URL Video "+videocount+"'required><p class='error'> *Debe llenar esta información </p>"
            document.getElementById('videos').innerHTML += videoinput;
            	videocount++;
            }
            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>