<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Registro de Participante </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Editar Participante </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="/editar-participante"> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="participante">
                <input type="hidden" name="id" value="<%= consulta._id %>">
                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" type="text" placeholder="Nombre y Apellido" id="nombre" onchange= "up_pass(this)" name="name" maxlength="35" value="<%= consulta.name %>" required>

                
                <!-- TELEFONO Participantes, Conferencias, Visita,Taller, Evento Social, Patrocinadores -->
				<input onKeyPress="return isNumberKey(event)" value="<%= consulta.phone %>" maxlength="10" type="text" placeholder="Teléfono" name="phone" required>
                
				<!-- CORREO Participantes, Conferencias, Visita, Taller, Evento Social, Patrocinadores -->
				<input maxlength="50" value="<%= consulta.email %>" type="email" placeholder="Correo" name="email" required>

				<!-- INSTITUCION DE PROCEDENCIA Participante-->
				<input maxlength="50" type="text" placeholder="Institución de procedencia" value="<%= consulta.institution %>" name="institution" required>
                
                <select id="select" name="academic_level" required>
                  <option  disabled > Nivel Académico </option>
                  <option value="Primaria" <% if(consulta.academic_level == "Primaria") { %> selected <% } %> > Primaria </option>
                  <option value="Secundaria" <% if(consulta.academic_level == "Secundaria") { %> selected <% } %> > Secundaria </option>
                  <option value="Preparatoria" <% if(consulta.academic_level == "Preparatoria") { %> selected <% } %>> Preparatoria </option>
                  <option value="Universidad" <% if(consulta.academic_level == "Universidad") { %> selected <% } %>> Universidad </option>
                  <option value="Otro" <% if(consulta.academic_level == "Otro") { %> selected <% } %>> Otro </option>
                </select>
                
                <select id="select" name="semester" required>
                  <option disabled> Semestre</option>
                  <option value="1er" <% if(consulta.semester == "1er") { %> selected <% } %> > 1er </option>
                  <option value="2do" <% if(consulta.semester == "2do") { %> selected <% } %>> 2do </option>
                  <option value="3er" <% if(consulta.semester == "3er") { %> selected <% } %>> 3er </option>
                  <option value="4to" <% if(consulta.semester == "4to") { %> selected <% } %>> 4to </option>
                  <option value="5to" <% if(consulta.semester == "5to") { %> selected <% } %>> 5to </option>
                  <option value="6to" <% if(consulta.semester == "6to") { %> selected <% } %>> 6to </option>
                  <option value="7mo" <% if(consulta.semester == "7mo") { %> selected <% } %>> 7mo </option>
                  <option value="8vo" <% if(consulta.semester == "8vo") { %> selected <% } %>> 8vo </option>
                  <option value="9no" <% if(consulta.semester == "9no") { %> selected <% } %> > 9no </option>
                  <option value="Otro" <% if(consulta.semester == "otro") { %> selected <% } %>> Otro... </option>
                </select>

				<!-- CIUDAD Participante-->
				<input maxlength="50" type="text" placeholder="Ciudad" name="city" value="<%= consulta.city %>" required>

                <!-- ALERGIAS Participante-->
				<input maxlength="50" type="text" placeholder="¿Tienes alergias?" name="alergies" value="<%= consulta.alergies %>" required>

                <!-- TALLA Participantes -->
                <select class="select" name="shirt_size">
                <option value="none"  disabled> Talla... </option>
                  <option value="XS" <% if(consulta.shirt_size == "XS") { %> selected <% } %> > XS </option>
                  <option value="S"  <% if(consulta.shirt_size == "S") { %> selected <% } %> > S </option>
                  <option value="M"  <% if(consulta.shirt_size == "M") { %> selected <% } %> > M </option>
                  <option value="L"  <% if(consulta.shirt_size == "L") { %> selected <% } %> > L </option>
                  <option value="XL"  <% if(consulta.shirt_size == "XL") { %> selected <% } %> > XL </option>
                </select><br><br><br>


                
               
                <div class="spacer"></div>
                <hr>
				<button type="submit" class="submit" > Siguiente </button>
                <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
		<script>
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
    
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }

           codigoGrupo(document.getElementById("selectorLeft"));
            function validate(){
                var alert = confirm('Estás a punto de registrar un abono. Ésta acción no puede eliminarse, ¿Seguro que desea proseguir?');
                if (alert) {
                    document.getElementById("forma-registro").submit();
                } else {
                    // Do nothing!
                }
            }
            function codigoGrupo(elem) {
                activeSelector(elem); 
                document.getElementById("codigo-grupo").style.display = "block";
                document.getElementById("codigo-grupo").value = ""; //consulta.selected_package.group_code 
                document.getElementById("paquete").style.display = "none";
                }
            function escogerPaquete(elem) {
                activeSelector(elem); 
                document.getElementById("codigo-grupo").style.display = "none";
                document.getElementById("codigo-grupo").value = "none";
                document.getElementById("paquete").style.display = "block";
                }
            function activeSelector(elem) {
                var elements = document.getElementsByClassName("selectorActive"); 
                var C = 0; 
                while(C< elements.length) {
                    elements[C].classList.remove("selectorActive"); 
                    C++;
                    }
                elem.classList.add("selectorActive");
            }

            up_pass = function(field) {
                console.log(document.getElementById("nombre").value);
                document.getElementById("pass").value = field.value.toString().toLowerCase().replace(/\s/g,'');
            }
		</script>
</html>