<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title> Editar Evento Extra </title>
		<% include menu.html %>
        <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Registro Evento Extra </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="/editar-evento-extra"> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="evento-extra">
                <input type="hidden" name="id" value="<%= consulta._id %>">

                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" placeholder="Nombre" type="text" name="name" value="<%= consulta.name %>" required>
				
            
                 <!-- DIA/MES/ANO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fecha: </p>
                <input name="day" onBlur="timeFields();" class="date" id="day" type="date" value='<%= consulta.start.getFullYear() %>-<% if(consulta.start.getMonth()+1 < 10){ %>0<% } %><%= consulta.start.getMonth()+1 %>-<% if(consulta.start.getDate() < 10){ %>0<% } %><%= consulta.start.getDate() %>' required>
                
                
                <!-- HORA INICIO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Inicio: </p>
                <input type="time" name="start_time" onBlur="timeFields();" id="start_time" value="<% if(consulta.start.getHours() < 10){ %>0<% } %><%= consulta.start.getHours() %>:<% if(consulta.start.getMinutes() < 10){ %>0<% } %><%= consulta.start.getMinutes() %>" class="time" required>
                
                
                <input type="hidden" id="start" name="start"> 
                <input type="hidden" id="end" name="end"> 
                
                <!-- HORA FIN Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fin: </p>
                <input type="time" name="end_time" onBlur="timeFields();" id="end_time" value="<% if(consulta.end.getHours() < 10){ %>0<% } %><%= consulta.end.getHours() %>:<% if(consulta.end.getMinutes() < 10){ %>0<% } %><%= consulta.end.getMinutes() %>" class="time" required>

                <!-- LUGAR EN CETYS Conferencia, Taller, Evento Extra -->
                 <select id="select" name="location" required>
				<option value="<%= consulta.location %>" selected> >> <%= consulta.location %> </option>
				<% include lugares-cetys.html %>
                </select>
                
                                
                <!-- ICONO Evento Extra 
                <p class="title"> Icono del Evento (300x300px) </p>
                <input type="file" width="150px" name="icono" value="fileupload" id="image" accept="image/*" style="display: inline;"  accept="image/*" required> -->
                
                
                



                <hr>
				<button type="submit" class="submit"> Siguiente </button>
                <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
				<script>
		timeFields();
		var startTime;
		var endTime;
		 function timeFields(){
                startTime = document.getElementById("day").value.toString()+"T"+document.getElementById("start_time").value+":00-00:00";
				endTime = document.getElementById("day").value.toString()+"T"+document.getElementById("end_time").value+":00-00:00";
				document.getElementById("start").value = startTime;
				document.getElementById("end").value = endTime;
            }
			
			
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}



            function validate(){
                document.getElementById("forma-registro").submit();
            }

            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>