<html> 

	<head>		
		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<!--- <% include menu  %> -->

        <!--- Title --> 
        <title> Registro Preguntas Frecuentes </title>

		<!--- Incluir documeentos -->
<% include menu  %>
            
        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Registro Preguntas Frecuentes </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="registro "> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="pregunta-frecuente">
                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Pregunta'; }"  onfocus="if(this.value == 'Pregunta') { this.value = ''; }" type="text" value="Pregunta" name="title" required>
				<p class="error"> *Debe llenar esta información </p>
            
                
                <!-- Descripción Conferencia, Taller, Evento Social, Blog, Punto de Venta, Preguntas Frecuentes -->
                <textarea name="descripcion" class="large-text" required> Respuesta... </textarea>
                <p class="error"> *Debe llenar esta información </p>
                <!-- POSICION Preguntas Frecuentes -->
               
                <!-- INCLUIR EN TEASER BANNER Conferencia, Visita, Taller, Evento Social, Blog, Punto de Venta, Paquete -->
               <p class="title"> Posición </p>
                <input type=number name="pregunta-index" class="numero goright" value="1">
                
                <div class="spacer"></div>

                <hr>
				<button type="button" class="submit" onClick="validate()"> Siguiente </button>
                <button type="button" class="third" onClick="location.href='../'"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
		<script>
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS
            var videocount = 2;
            var fotoscount = 2;

            function validate(){
                document.getElementById("forma-registro").submit();
            }
            
            function masvideo(){
                var videoinput = "<input maxlength='50' name='video"+ videocount +"' class='video' required><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('videos').innerHTML += videoinput;
                videocount++;
            }
            function masfoto(){
                var fotosinput = "<input type='file' width='150px' name='foto"+fotoscount+"' value='fileupload' id='image' style='display: inline;'><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('fotos').innerHTML += fotosinput;
                fotoscount++;
            }
            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>