<html> 

	<head>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Registro de Taller </title>
		<% include menu.html %>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Registro de Taller </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="/registro-taller" encType="multipart/form-data"> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="taller">
                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" type="text" placeholder="Nombre" name="name" required>
				<p class="error"> *Debe llenar esta información </p>
            
                <!-- DIA/MES/ANO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fecha: </p>
                <input name="day" onBlur="timeFields();" class="date" id="day" type="date" value="Usa otro navegador" required>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- HORA INICIO Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Inicio: </p>
                <input type="time" name="start_time" onBlur="timeFields();" id="start_time" value="Usa otro navegador" class="time" required>
                <p class="error"> *Debe llenar esta información </p>
                
                <input type="hidden" id="start" name="start"> 
                <input type="hidden" id="end" name="end"> 
                
                <!-- HORA FIN Punto de Venta, Conferencia, Visitas, Taller, Evento Extra-->
                <p class="title"> Fin: </p>
                <input type="time" name="end_time" onBlur="timeFields();" id="end_time" value="Usa otro navegador" class="time" required>
                <p class="error"> *Debe llenar esta información </p>

                <!-- NOMBRE DE CONTACTO Conferencia, Visita, Taller, Evento Social, Patrocinadores -->
                <input maxlength="50" type="text" placeholder="Nombre de Tallerista" name="instructor_name" required>
				<p class="error"> *Debe llenar esta información </p>
                
                <!-- TITULOS DEL PRESENTADR  Conferencia, Taller -->
                <input maxlength="50" type="text" placeholder="Titulos del Tallerista" name="instructor_titles" required>
				<p class="error"> *Debe llenar esta información </p>
                
                <!-- TELEFONO Participantes, Conferencias, Visita,Taller, Evento Social, Patrocinadores -->
				<input onKeyPress="return isNumberKey(event)" maxlength="10" type="text" placeholder="Teléfono del Tallerista" name="instructor_phone" required>
				<p class="error"> *Debe llenar esta información </p>
                
				<!-- CORREO Participantes, Conferencias, Visita, Taller, Evento Social, Patrocinadores -->
				<input maxlength="50" type="email" placeholder="Correo del Tallerista" name="instructor_email" required>
				<p class="error"> *Debe llenar esta información </p>

                <!-- LUGAR EN CETYS Conferencia, Taller, Evento Extra -->
                 <select id="select" name="location" required>
				<% include lugares-cetys.html %>
                </select>
                <p class="error"> *Debe llenar esta información </p>

                
                <!-- CUPO Visita, Taller, Paquete -->
                <p class="title"> Cupo: </p>
                <input type=number name="cap" class="numero" required>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- Requisitos Visita, Taller, Oferta  -->
                <textarea name="requisites" class="large-text" placeholder="Requisitos..." required></textarea>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- Foto del ____ Conferencista, Tallerista, Evento Social, Patrocinadores  -->
                <p class="title"> Foto del Tallerista (300x300px)</p><br><br><br>
                <input required type="file" width="150px" name="instructor_photo" value="fileupload" id="image" style="display: inline;" required>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- Fotos (index, agregar) Conferencia, Visita, Taller, Blog, Punto de Venta -->
                <p class="title"> Fotos </p><br><br><br>
                <input type="file" width="150px" name="photos" value="fileupload" id="image" style="display: inline;" multiple required>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- Videos (index, agregar) Conferencia, Visita, Taller, Blog, Punto de Venta -->
                <div id="videos">
                <p class="title"> URL en Youtube de videos </p><br><br><br>
                <input maxlength="50" type="text" placeholder="URL Video 1" name="video_urls" class="video">
                <p class="error"> *Debe llenar esta información </p>
                </div>
               <button class="third" onClick="masvideo()" type="button"> Agregar Video </button>
                <br><br><br><br><br>
                
                <!-- Resuemn Conferencia, Taller, Evento Social, Blog, Punto de Venta -->
                <textarea name="summary" id="resumen" placeholder="Resumen..." required></textarea>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- Descripción Conferencia, Taller, Evento Social, Blog, Punto de Venta, Preguntas Frecuentes -->
                <textarea name="description" class="large-text" placeholder="Descripción..." required></textarea>
                <p class="error"> *Debe llenar esta información </p>
 
                <hr>
				<button type="submit" class="submit"> Siguiente </button>
                <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
				<script>
		var startTime;
		var endTime;
		 function timeFields(){
                startTime = document.getElementById("day").value.toString()+"T"+document.getElementById("start_time").value+":00-08:00";
				endTime = document.getElementById("day").value.toString()+"T"+document.getElementById("start_time").value+":00-08:00";
				document.getElementById("start").value = startTime;
				document.getElementById("end").value = endTime;
            }
			
			
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

            var videocount = 2;
            function masvideo(){
            var videoinput = "<input maxlength='50' name='video_urls"+ videocount +"' class='video' placeholder='URL Video "+videocount+"'required><p class='error'> *Debe llenar esta información </p>"
            document.getElementById('videos').innerHTML += videoinput;
            	videocount++;
            }
            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>