<html> 

	<head>		
		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<!--- <% include menu.html %> -->

        <!--- Title --> 
        <title> Registro de Conferencia </title>

		<!--- Incluir documeentos -->
<% include menu.html %>
            
        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	
    </head>
<body>
		
        <div class="body">
		<br>
		<center><h6><b> Registro de Testimonio </b></h6> </center>
			
			<form class="registro" id="forma-registro" method="post" action="registro "> <br><br>
               
                <!--- TIPO DE REGISTRO --> 
                <input type="hidden" name="registrado" value="Testimonio">
                
				<!-- NOMBRE/TITULO TODOS-->
				<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Nombre'; }"  onfocus="if(this.value == 'Nombre') { this.value = ''; }" type="text" value="Nombre" name="title" required>
				<p class="error"> *Debe llenar esta información </p>
            
                <!-- Foto del ____ Conferencista, Tallerista, Evento Social, Patrocinadores  -->
                <p class="title"> Foto de la Persona (300x300px) </p><br><br><br>
                <input type="file" width="150px" name="main-foto" value="fileupload" id="image" style="display: inline;">
                <p class="error"> *Debe llenar esta información </p>
                
                
                <!-- Resuemn Conferencia, Taller, Evento Social, Blog, Punto de Venta -->
                <textarea name="testimonio" id="resumen" required> Testimonio... </textarea>
                <p class="error"> *Debe llenar esta información </p>
                
                <!-- INCLUIR EN TEASER BANNER Conferencia, Visita, Taller, Evento Social, Blog, Punto de Venta, Paquete -->
                <p class="title"> Posición de Testimonio </p>
                <input type=number name="index" class="numero goright" value="1">
                <div class="spacer"></div>
                <hr>
				<button type="button" class="submit" onClick="validate()"> Siguiente </button>
                <button type="button" class="third" onClick="window.history.back();"> Cancelar </button>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
			
			</form>
		</div>

</body>
		
		<script>
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

              //INCLUIR DOCUMENTOS
            var videocount = 2;
            var fotoscount = 2;

            function validate(){
                document.getElementById("forma-registro").submit();
            }
            
            function masvideo(){
                var videoinput = "<input maxlength='50' name='video"+ videocount +"' class='video' required><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('videos').innerHTML += videoinput;
                videocount++;
            }
            function masfoto(){
                var fotosinput = "<input type='file' width='150px' name='foto"+fotoscount+"' value='fileupload' id='image' style='display: inline;'><p class='error'> *Debe llenar esta información </p>"
                document.getElementById('fotos').innerHTML += fotosinput;
                fotoscount++;
            }
            
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
                return true;
            }
		</script>
</html>