
        <!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">

<div class="menu">
        <button class="second user admin" onClick="activate(this)"><i> Admin </i></button>
            <div class="drop" id="user">
                <center>
                <br>
                <button class="second"> Cerrar Sesión </button>
                <button class="second nuevo-trasce" onclick="location.href='nuevo-trasce'"> Nuevo Trasce</button>
                <div class="spacer"></div>
                </center>
            </div>
		<ul>
			<li>
				<button onclick="location.href='lista-staff'"">
					Staff
				</button>
                
			</li>
			<li>
				<button onclick="location.href='pagos'">
                Pagos
                </button>
            </li>
            <li>
                <button onclick="location.href='gastos'">
                 Gastos
                </button>
			</li>
			<li>
				<button onclick="location.href='reportes-generales'">
					Reportes
				</button>

			</li>
		</ul>
</div>
<br> <br><br> <br>
    
    <script>
    var puesto = false;
    //ACTIVE, PARA EL MENU MOVIL
    function activate(elem){ 
        if(elem.classList.contains('active')) elem.classList.remove('active'); 
        else elem.classList.add('active'); 
			}

    
    
    </script>