<html> 

	<head>		
		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        <!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Title --> 
        <title> Login </title>

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="registro/resources/style.css">
	
    </head>
<body>
	<style>
    div.body {
        margin-top: 20vh;
    }
    button {
    	display: inline-block;
    	float:left;
    	margin: 5px;
    }
    </style>	
        <div class="body" id="login" style="width: 300px;">
            <center>
	            <h6> <b> Login </b> </h6>
	           	<% if(message) { %>
	            	<h3 style='color:red;'><%= message %></h3>
	            <% } %><br><br><br>
	            <form method="post" id="forma" action="/login" style="width: 300px;">
	                
	                <input id="value1" style="width: 300px;" maxlength="50" type="text" placeholder="Correo" name="username" required>
	                
	                <input id="value2" style="width: 300px;" maxlength="50" type="password" placeholder="Contraseña" name="password" required>
                    
            	<button type="submit"> Siguiente </button>

            	</center>
             </form>
		</div>
</body>

</html>