<footer>
	<link rel="stylesheet" type="text/css" href="resources/style.css">
	

	<center><a href="../developers"><p class="cwhite"><u> Conoce a los Desarrolladores de la Página </u></p> </a>
	</center>


	<hr>

	<center>
		<h5 style="color: white"> Muchas Gracias a: </h5>
			<div class="patrocinadores">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
				<img src="resources/slider1.jpg">
			</div>
	
	</center>
	
	<br><hr>
	
	<center>
		<h5 style="color: white"> ¿Te gustaría ser parte de Trascendencias? </h5>
		<button onclick="location.href='informacion#serpartedelstaff'"> ¡Se parte del Staff! </button>
	<center>


</footer>