<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="resources/style.css">

<script>
	function activate(elem) {
		if(elem.classList.contains('active')) elem.classList.remove('active'); 
		else elem.classList.add('active'); 
	}
	
	//GOOGLE ANALYTICS
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106098670-1', 'auto');
  ga('send', 'pageview');


</script>

<div class="menu">
	<a href="index">
		<img class="logo" src="resources/logo.svg">
	</a>
	<img class="menu-btn" src="resources/ico_menu.svg" onclick="activate(this);">
	<div class="menu-wrap">
		<center><ul>
			<li>
				<button onclick="location.href='index'">
					<img src="resources/ico_inicio.svg">
					Inicio
				</button>
			</li>
			<li>
				<button onclick="location.href='informacion'">
					<img src="resources/ico_informacion.svg">
					Información
				</button>
			</li>
			<li>
				<button onclick="location.href='contenido'">
					<img src="resources/ico_contenido.svg">
					Contenido
				</button>
			</li>
			<li>
				<button onclick="location.href='ventas'">
					<img src="resources/ico_venta.svg">
					Comprar
				</button>
			</li>
			<li>
				<button onclick="location.href='inicio-blog'">
					<img src="resources/ico_blog.svg">
					Blog
				</button>
			</li>
			<li>
				<button onclick="location.href='mapa'">
					<img src="resources/ico_mapa.svg">
					Mapa
				</button>
			</li>
			<li>
				<button onclick="location.href='horario'">
					<img src="resources/ico_horario.svg">
					Horario
				</button>
			</li>
			<li>
				<button onclick="location.href='preguntas-frecuentes'">
					<img src="resources/ico_ayuda.svg">
					Ayuda
				</button>
			</li>

		</ul></center>


		<div class="redes-sociales">
			<a target="_blank" href="https://www.instagram.com/trascendenciascetys/">
				<img src="resources/ico_instagram.svg">
			</a>
			<a target="_blank" href="https://www.youtube.com/channel/UCnMMJXUeCbLIyTwfnRQd-AQ?view_as=subscriber">
				<img src="resources/ico_youtube.svg">
			</a>
			<a target="_blank" href="http://www.facebook.com/trascendencias">
				<img src="resources/ico_facebook.svg">
			</a>
		</div>


		<div class="usuario">

		<% if(user == undefined) { %>
		<button class="iniciar-sesion" onclick="activate(this)"> Iniciar Sesión </button>
		<div class="usuario-info iniciar-sesion">
			<% if(locals.login_message && login_message != '') { %>
				<h3 style="color: red;">Error: <%= login_message %></h3>
				<script>
					document.getElementsByClassName("iniciar-sesion")[0].click();
				</script>
			<% } %>
			<form action="/login" method="post" id="login">
				<input maxlength="50" placeholder="Correo" type="text" name="email" required><br>
				<input maxlength="50" placeholder="Contraseña" type="password" name="password" required>
            </form>
            <button type="submit" form="login">Entrar</button>			
			<u><a href="/signup" class="registrarse">Registrarse</a></u> <br />
			<u><a href="/auth/facebook" class="registrarse">Registrarse con Facebook</a></u>
		</div>
		<% } else { %>
		<img src="
        <% if(user.facebook.id) {%>
        https://graph.facebook.com/<%= user.facebook.id %>/picture?type=large
        <% } else { %> resources/user_example.png<% } %>
        " onclick="location.href='usuario'" class="persona1" onclick="location.href='usuario'">
			<div class="usuario-info loggedIn" style="cursor:pointer;">
				<h1 class="nombre-usuario" onclick="location.href='usuario'"> <%= user.name %> </h1> 

				<button onclick="location.href = '/logout'"> Salir </button>
				<% if(user.verified) { %>
					<% if(locals.user.selected_package) { %>
						<h2> Paquete Elegido: <%= user.selected_package.package.name %> </h2>
						<h3> Restante: <%= user.package_information.debt %> pesos </h3>
					<% } else { %>
						<h2>No has elegido paquete.</h2>
					<% } %>
				<% } else { %>
					<% if(!locals.user.facebook.id) { %>
						<h3 onclick="window.location.replace('https://<%= user.email.split('@').pop()%>')" onmouseover="this.style='color: #ADD8E6'" onmouseout="this.style=''">Favor de verificar tu correo dando click aqui.</h3>
					<% } else { %>	
						<h3 onclick="location.href='validacion-facebook'">Favor de verificar tu informacion dando click <u>aqui</u>.</h3>
					<% } %>
				<% } %>
			</div>
			<% } %>
		</div>
	</div>

</div>