body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	overflow-x: hidden;
}
/* TEXTOS */
h1 {
	font-size: 46pt;
	color: black;
	font-weight: bolder;
	line-height: 1;
	margin-top: 30px;
	margin-bottom: 10px;
}
h2 {
	font-size: 15pt;
	color: #456672;
	font-weight: normal;
	letter-spacing: 0.5;
	border-bottom: 2px solid #89989A;

}
h3, ul {
	font-size: 12pt;
	color: #1D5E89;
	font-weight: bold;
}

.h4holder {
	width: 112%;
	position: static;
	margin-left: -10%;
	margin-top: 20px;
	background-color: #E6E6E6;
	height: 50px;
}
h4 {
	font-size: 15pt;
	color: #071D25;
	font-weight: bolder;
	margin-left: 10%;
	padding-top: 15px;
	margin-bottom: auto;
	}
h5 {
	font-size: 15pt;
	color: white;
	font-weight: lighter;
	margin: 0px;
	margin-top: 10px;
}
h6 {
	font-size: 18pt;
	color: #F45D42;
	font-weight: lighter;
	line-height: 1;
	margin: 0px;
	margin-bottom: 10px;
}
p {
	font-size: 12pt;
	color: #95989A;
	line-height: 1.7;
	word-wrap: break-word;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #071D25;
}
hr {
	border: 1px solid #CCC;

}
hr.white {
    border-color: white;
}
button{
	background-color: #42C7F4;
	border: 0;
	border-radius: 100px;
	color: white;
	font-size: 15;
	padding: 5px 20px 5px 20px;
	font-weight: bold;
}
button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 7px #42C7F4;
	transition: box-shadow 1s, text-shadow .5s;
}
button.second{
	border-radius: 3px;
	background-color: rgba(0,0,0,0);
	border: 1px solid white;
	padding: 2px 10px 2px 10px;
}
button.third{
	border-radius: 3px;
	background-color: rgba(0,0,0,0);
	border: 1px solid #CCC;
    padding: 5px 20px 5px 20px;
    margin: 5px 5px 5px 0px;
    color: #CCC;
    display: block;
}
button.selectorLeft, button.selectorRight{
	background-color: rgba(0,0,0,0);
	border: 1px solid #CCC;
    padding: 5px 20px 5px 20px;
	margin-top: 0px;
	margin-bottom: 0px;
    color: #CCC;
    display: block;
	float: none; 
	display: inline;
	}
button.selectorLeft {
	border-radius: 10px 0px 0px 10px;
	margin-right: -2px; 
	}
button.selectorRight {
	border-radius: 0px 10px 10px 0px;
	margin-left: -3px; 
	}
button.selectorActive{
	background-color: #41C7F4;
	color: white;
	border-color: #41C7F4;
	}
div.body, div.lista{
	display: block;
	margin: 0 auto;
	width: 90vw;
	max-width: 700px;
    position: relative;
}
.spacer {
    width: 100vw;
    height: 20px;
}
form {
	display: block;
	width: 90vw;
	max-width: 700px;
	}
input, #resumen, .large-text {
	border: 0px solid white;
	color: #777;
	font-size: 20px;
	border-bottom: 2px solid #95989a;
	padding: 10px;
	width: 90vw;
	max-width: 700px;
	background-color: rgba(0,0,0,0);
	margin-top: 10px;
	margin-bottom:10px;
    outline: none;
}
input[type='file']{
	margin: 0px;
	}
input:focus, #resumen:focus, .large-text:focus{
	border-color: #41C7F4;
	color: #41C7F4;
}
#resumen, .large-text, .video {
    border: 1px solid #95989a;
    border-radius: 5px;
}
#resumen {
    height: 100px;
}
.large-text {
    height: 200px;
}
#select, .select {
    border: none;
    background-color: white;
    font-size: 20px;
    width: 90vw;
    max-width: 700px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    color: #777;
    border-bottom: 2px solid #95989a;
    padding: 10px;
    border-radius: 0px;
    margin-top: 0px;
    outline: none;
	margin-bottom:0px;

}
#image {
    border: 0px solid white;
}
.date {
    width: 250px;
}
.time, .numero {
    width: 170px;
}
.date, .time, .numero{
    border: 1px solid #95989a;
    margin-left: 20px;
    border-radius: 5px;
}
p.title {
    font-size: 20px;
	margin-bottom: 0px;
}
p.teaser {
	display: inline;
}
input[type=checkbox]{
	width: 15px;
}
p.error{
	font-size: 12px;
	color: red;
	position: relative;
	top: -10px;
	left: 5px;
	display: none;
}
input.error + p.error{
	visibility: visible;
}
.registro button.submit{
	float: right;
	padding: 10px 20px;
}
.registro button.third{
	float:left;
}
.goright {
    position: absolute;
    right: 0px;
    margin-top: 0px;
    width: 60px;
}
button.codigo-grupo{
    position: absolute;
    right: 10px;
    margin-top: -50px;
}
/* LISTAS */

div.listabutton.nuevo {
	position: absolute;
	right: 0px;
}
button.enlistado {
	background-color: rgba(0,0,0,0);
	color: #999 ;
	padding: 5px 0px;
	margin: 5px 0px;
    display: block;
}
button.enlistado:hover{
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
#search {
	border: 1px solid #CCC;

	margin-top: 10px;

}
input.search {
	width: calc(100% - 50px);
	display: inline;
	border-radius: 5px 0px 0px 5px;
	height: 50px;
}
button.search{
	width: 50px;
	height: 50px;
	padding: 9px;
	margin: 0px;
	float: right;
	margin-top: 10px;
	border-radius: 0px 5px 5px 0px;
	border-left: 0px;
}
/* CONSULTA STAFF */
img.staff-pic {
	width: 150px;
	height: 150px;
	border-radius: 100px;
}
/* ACCIONES */
div.accion {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.accion h3, .accion p{
	display: inline;
	line-height: 1.5;
}
.dineromas {
	color: #218425;
}
.dineromenos {
	color: #B41C0F;
}

/* CONSULTA */
div.consulta div.foto {
	width: 100px;
	height: 100px; 
	background-position: center center;
	background-size: 100px;
	margin: 10px;
	display: inline-block;

}
div.foto button{
	opacity: 0;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
	margin-top: 40px;
}
div.foto:hover button{
	opacity: 1;
	transition:  opacity .5s;
}
div.consulta iframe{
	margin: 10px;
}
.persona {
	border-radius: 1000px;	
}
div.consulta img.foto {
	height: 100px;
	width: 100px;
}

/* MENU */
	.menu {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100vw;
		height: 60px;
		background-color: #42C7F4;
		z-index: 1;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
        font-weight: lighter;
	}
    .menu ul {
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    float: right;
        margin-top: 15px;
	}
	.menu ul li{
    display: inline;
    }
	.menu .user {
		float: left;
		display: inline;
		height: 45px;
		margin: 7px;
		width: auto;
        border-radius: 100px;
	}
    div.drop {
        display: none;
        position: fixed; 
        top: 0px;
        z-index: -1;
        background-color: #42C7F4;
        padding-top: 60px;
    }
    .dropper:hover + div.drop{
    	display: block;
    }
	div.drop:hover {
		display: block;
	}
    #contenido {
        right: 50px;
    }
    #ventas {
        right: 0px;
    }
    #user {
        left: 0;
        width: 320px;
    }
    #user p{
        margin: 0;
        margin-left: 20px;
        mar
    }
    .menu select {
        border: none;
        background-color: white;
        font-size: 12px;
        width: 200px;
        height: 25px;
       -webkit-appearance: none; 
        -moz-appearance: none;
        appearance: none;
        font-style: italic;
        color: #ccc;
        padding-left: 8px;
    }
    .menu hr {
        border: 1px solid rgba(255,255,255,.5);
    }
    .menu button:hover {
    	color: #4E8296;
    	transition: color .2s;
    }

@media only screen and (max-width: 420px) {
    .menu .user {
		float: left;
		display: inline;
		height: 30px;
		margin: 7px;
        margin-top: 15px;
		width: auto;
        border-radius: 100px;
	}
    .menu button {
        font-size: 9pt;
        margin: 8.5px;
        padding: 0;
        margin-top: 10px;
        border-bottom: 2px solid rgba(0,0,0,0);
    }
    div.drop{
        width: 100vw;
        position: fixed;
        left: 0px;
        right: 0px;
    }
    form {
        font-size: 9pt;
    }
    p.title {
        font-size: 12pt;
    }
    #date {
        width: 200px;
    }
    button.second {
        padding: 5px 15px ;
    }
    hr.search {
    	margin-top: 20px;
    }
}


/* CONSULTA */ 
div.consulta h3 {
	color: #CCC;
	font-weight: lighter;
	margin: 0px;
	margin-top: 10px;
	line-height: 1;
}
div.consulta p {
	color: black;
	font-weight: bold;
	line-height: 1;
	margin: 0px;
	margin-top: 8px;
}
button.votacion {
	width: 100%;
	height: 50px;
	}

/*EXTRAS*/
.blue {
	color: #456672;
}
.white {
	color: white;
}
.black {
	color: black;
}
.hidden {
	display: none;
}
.inline{
	display: inline-block;
}
.pointer {
	cursor: pointer;
}
