<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="#!URL" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="#!TITLE" />
		<meta property="og:image" content="#!IMG" />
		
		<!---SEO OPTIMIZATION -->
		<title> #!TITLE </title>
		<meta name="description" content="#!DESCRIPTION">
		<meta name="keywords" content="#!KEY, #!WORDS, #!COMA, #!SEPARATED" >
		<meta name="author" content="#!AUTOR">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<!--- <% include menu  %> -->

		<!--- Title --> 
        <title> Horario </title>

		<!--- Incluir documeentos -->
<% include menu  %>

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit -->
		<link rel="stylesheet" type="text/css" href="sresources/tyle.css">

	</head>


	<body>

		<div class="pageLocation cmen">
			<h5 id="pageLocation"> Horario </h5>
		</div> 

		<div class="horario">
			
			<div class="dia">
						<center>
							<h1> 11•Oct</h1>
							<h6> Miercoles </h6>
						</center>
							<div class="staff2">
								<img src="resources/ico_general.svg" class="persona2">
								<h3 onClick="#"> 8am • Inauguración </h3>
								<p><i> Preparate para aburrirte :D </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 9am • Nombre de la Conferencia</h3>
								<p><i> Cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 10am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 11am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_ambigu.svg" class="persona2">
								<h3> 12pm • Rica comida por fin </h3>
								<p><i> Esta muy buena </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_taller.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_visita.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_evento-social.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

			</div>
				<div class="dia">
						<center>
							<h1> 12•Oct</h1>
							<h6> Jueves </h6>
						</center>
							<div class="staff2">
								<img src="resources/ico_general.svg" class="persona2">
								<h3 onClick="#"> 8am • Inauguración </h3>
								<p><i> Preparate para aburrirte :D </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 9am • Nombre de la Conferencia</h3>
								<p><i> Cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 10am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 11am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_ambigu.svg" class="persona2">
								<h3> 12pm • Rica comida por fin </h3>
								<p><i> Esta muy buena </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_taller.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_visita.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_evento-social.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

			</div>
			<div class="dia">
						<center>
							<h1> 13•Oct</h1>
							<h6> Viernes </h6>
						</center>
							<div class="staff2">
								<img src="resources/ico_general.svg" class="persona2">
								<h3 onClick="#"> 8am • Inauguración </h3>
								<p><i> Preparate para aburrirte :D </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 9am • Nombre de la Conferencia</h3>
								<p><i> Cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 10am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_conferencia.svg" class="persona2">
								<h3> 11am • Nombre de la Conferencia </h3>
								<p><i> cosas sobre la conferencia </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_ambigu.svg" class="persona2">
								<h3> 12pm • Rica comida por fin </h3>
								<p><i> Esta muy buena </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_taller.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_visita.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
							<div class="staff2">
								<img src="resources/ico_evento-social.svg" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
			</div>
		
		</div> 

		<hr style="width: 100vw; border-color: rgba(0,0,0,0);"> <!-- Esto es pa que no se corra el footer, no se por que pero con esto se arregla ja-->
		
		 <!-- INCLUIR FOOTER-->
		<% include footer %>
		
		<script>  


			function activate(elem){ // ES PARA APARECER / DESAPARECER COSAS (COMO EL MENU)
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
	</body>
</html>