<html> 

	<head>
		<title> Paquete Apartado </title>

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<% include partials/menu.html  %> 

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
	<div class="menuspacer">
	</div> 

	<div class="registro">
		<center>
			<h1 class="cmenta"> ¡Felicidades! </h1>
			<p> <b> ¡Ya casi eres parte de Trascendencias! </b> </p>

			<b><h6 class="cblack" id = "mensaje" class="cblack">
            <br><br>
            
			<h6 class="cblack"> Tu saldo es de: 
			<span class="cmenta"> -$<%= user.package_information.debt %> </span></h6>
			<br><br>
			<h6 class="cblack"> <i> Código QR para acelerar tus abonos: </i> </h6> 
			<img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=https://trascendencias.org:8443/registro/abono?id=<%= user._id %>" class="qr">
            
            
            </h5></b><br><br>
		</center>

		<h2> Para completar tu registro </h2>
		<ul> 
			<li> Acude a cualquier punto de venta de Trascendencias </li>
			<li> Da tu nombre o código de registro </li>
			<li> Abona $100 pesos o más para apartar tu precio y lugar en Trascendencias </li>
			<li> Termina de pagar para elegir tu taller y visita </li>
			<li> ¡Y ya serás participante de trascendencias! </li>
		</ul>

		<div id="puntos-de-venta" >
			<h2> Próximos Puntos de Venta </h2>
		<div>
							
		<% puntos_de_venta.forEach(function(element) { %>
            <% startDay = new Date(element.start); endDay = new Date(element.end); %>
            <% if(+startDay > +today || +endDay > +today){ %>
		
            	<div class="staff2">		
                    <h3> <%= element.name %>: <%= element.location %>   </h3>
                    <p> <%
                        var options = {  
                            year: "numeric", month: "short",  
                            day: "numeric", hour: "2-digit", minute: "2-digit" 
                        };
    
                        var hour_options = {
                            hour: "2-digit", minute: "2-digit"
                        };
                    %>
                    <%= element.start.toLocaleTimeString("en-us", options); %>
                    -
                    <%= element.end.toLocaleTimeString("en-us", hour_options); %> </p>
				</div>
            <% } %>
		<% }); %>
		</div>
	</div>

	</div>



		<script>

	function activate(elem){
		if(elem.classList.contains('active')) elem.classList.remove('active'); 
		else elem.classList.add('active'); 
	}

				function getParameterByName(name, url) {
			    if (!url) url = window.location.href;
			    name = name.replace(/[\[\]]/g, "\\$&");
			    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
			        results = regex.exec(url);
			    if (!results) return null;
			    if (!results[2]) return '';
			    return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

	        var codigo = getParameterByName('codigo');
	        if(codigo != "undefined") {
	        	document.getElementById('mensaje').innerHTML += "Tu codigo de grupo es: <span class='cmenta'> " + codigo; + "</span>"
	        }
		</script>
	</body>
</html>