<html> 

	<head>		
		<title> Apartar un Paquete </title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<% include partials/menu.html %>
		<div class="menuspacer"></div>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
	<div class="pageLocation cmen">
		<h5 id="pageLocation"> Comprar > Apartar Paquete </h5>
	</div> 
		<div class="registro">
		<br>
		<center><h6> <b> <%= package.name %> </b></h6> </center><br>
			<% if(locals.message) { %>
			<p style="color: red;">
				<%= message %>
			</p>
			<% } %>
			<form class="registro" action="/apartar-paquete-<%= package.id %>" method="post">
			<input type="hidden" value="<%= user.name %>" name="assign_name">
			<!-- TALLA Participantes -->
            <select class="select" name="shirt_size" required>
                  <option value="none" disabled selected> Talla... </option>
                  <option value="XS"> XS </option>
                  <option value="S"> S </option>
                  <option value="M"> M </option>
                  <option value="L"> L </option>
                  <option value="XL"> XL </option>
                </select>
                
				<!-- CODIGO DE GRUPO -->
				<% if(package.group_size > 1) { %>
                <p class="title black"> Código de Grupo </p>
				
                <button class="selectorLeft" id="selectorLeft" type="button" onClick="codigoGrupoNuevo(this);"> Nuevo </button>
                <button class="selectorRight" id="selectorRight" type="button" onClick="codigoGrupoUsar(this);"> Usar Código </button>
                
                <input id="codigo-grupo" maxlength="50" placeholder="Código de Grupo..." type="text" name="group-code" required> 
				<% } else { %>
                <input type="hidden" name="group-code" value="none">
				<% } %>
								
				<!-- TERMINOS Y CONDICIONES -->
				<p> <input type="checkbox"> Acepto los <a class="cmenta" target="_blank" href='terminosycondiciones'> términos y condiciones </a> </p>
				<p> Total a pagar: </p>
                <h1> $<%= package.cost %> </h1>
                

				<button type="submit"> Siguiente </button>
			
			</form>
				<% if(package.group_size > 1) { %>
				<br><br><br>
				<h2> Paquetes de Grupo </h2>
				<p> El código de grupo es el código que se utiliza para identificar a todos los miembros de una paquete de más de 1 persona. Si alguien de tu grupo ya se ha registrado utiliza su código para hacer válida la paquete. Se puede abonar por persona y se abonará a su cuenta o se puede abonar al código de grupo y el abono se dividirá entre todos los integrantes.</p>
				<% } %>
		
		</div>





</body>
		
		<script>
			codigoGrupoNuevo(document.getElementById("selectorLeft")); 
			function codigoGrupoUsar(elem) {
				activeSelector(elem); 
				document.getElementById("codigo-grupo").style.display = "block";
				document.getElementById("codigo-grupo").value = "";
				}
			function codigoGrupoNuevo(elem) {
				activeSelector(elem); 
				document.getElementById("codigo-grupo").style.display = "none";
				document.getElementById("codigo-grupo").value = "none";
				}
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
			function activeSelector(elem) {
				var elements = document.getElementsByClassName("selectorActive"); 
				var C = 0; 
				while(C< elements.length) {
					elements[C].classList.remove("selectorActive"); 
					C++;
					}
				elem.classList.add("selectorActive");
			}
				
		</script>
</html>