<html> 

<head>
	<!---FACEBOOK OPTIMIZATION -->
	<meta property="og:url" content="<%= url %>" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="<%= consulta.name %>" />
	<meta property="og:image" content="<%= consulta.photos[0] %>" />
	
	<!---SEO OPTIMIZATION -->
	<title> <%= consulta.name %>  </title>
	<meta name="description" content="<%= consulta.summary %> ">
	<meta name="keywords" content="Trascendencias, Conferencias, Talleres, Visitas, Eventos Sociales" >
	<meta name="author" content="Trascendencias">

	<!-- tag para hacerlo escalable -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<!--- INCLUIR DOCUMENTOS -->
	<% include partials/menu.html %>
	<div class="menuspacer"></div>

	<!--- Pa que agarren los acentos -->
	<meta charset="UTF-8">

	<!--- Pa que agarre el Styleshit los acentos -->
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
			
<body>
		<!-- Plugin de Facebook -->

		<!--- INDICADOR DE PAGINA -->
		<div class="pageLocation cmen"><h5 id="pageLocation"><%= collection %> > <%= consulta.name %></h5></div> 

		
		<!-- ESTE DIV ES SOLO PARA CONFERENCIAS Y TALLERES -->
		<% if(consulta.speaker_name || consulta.instructor_name) { %>
        <div class="persona1">
			<img src="<% if(consulta.speaker_photo){ %> <%= consulta.speaker_photo %> <% }%>
                <% if(consulta.instructor_photo){ %> <%= consulta.instructor_photo %> <% }%>" class="persona1">
			<h3> Presenta: 
            	<% if(consulta.speaker_name){ %> <%= consulta.speaker_name %> <% }%>
                <% if(consulta.instructor_name){ %> <%= consulta.instructor_name %> <% }%>
            </h3>
			<p><i> 
            	<% if(consulta.speaker_titles){ %> <%= consulta.speaker_titles %> <% }%>
                <% if(consulta.instructor_titles){ %> <%= consulta.instructor_titles %> <% }%> </i></p>
		</div>
        <% } %>



		<div class="slider" style="margin-top: -10px;">

            
			<div class="slides main" id="slides">
			
            

            <% var C = 0; while(C < consulta.photos.length) { %> 
				<div class="slide" style="background: url('<%= consulta.photos[C] %>') center center; left: calc(100vw * <%= C %> );">
				</div>
			<% C++; } %> 
            <% var A = 0; while(A < consulta.video_urls.length) { %> 
				<div class="slide" style="left: calc(100vw * <%= C %> );">
                <iframe width=100% height="100%" src="https://www.youtube.com/embed/<%= consulta.video_urls[A] %>"></iframe>
				</div>
			<% C++; A++;} %> 
				
			</div>
            


			<button class="left-arrow main-btn" onClick="leftSlider()"> ➜ </button>
			<button class="right-arrow main-btn" onClick="rightSlider()"> ➜ </button>			
		</div>

		<!-- SLIDER EN GRANDE -->
		<div id="biggerImage" > <img src="resources/slider1.jpg" id="biggerImg"> </div>
		
        <div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
        
        
			
		<% if (consulta.cap && consulta.cost == null){ %>
		<div class="ingresar-visita-taller">
			<h5> Cupo Abierto <b> 13/<%= consulta.cap %> </b> </h5>
			<% if(user.debt <= 0) { %> <button class="second"> Ingresar </button> <% } %>
		</div>
        <% } %>

		<div class="contenido">
			<h1> <%= consulta.name %> </h1>
            
			<% if(consulta.location){ %><h6><i> 
             <%= consulta.location %>  </i></h6><% }%>

			<% if(consulta.start){ 
            
            var day = {  day: "numeric", weekday: "long", month: "short", hour: "2-digit", minute: "2-digit"  };
            var hour = { hour: "2-digit", minute: "2-digit"  };
            var shortDay = {  day: "numeric", month: "short" };
            %>
			<h6><b>
            <% if(consulta.cost) { %>
            <%= new Date(consulta.start).toLocaleString("es-ES", shortDay); %> - <%= new Date(consulta.end).toLocaleString("es-ES", shortDay); %>
            <% } else { %>
            <%= new Date(consulta.start).toLocaleString("es-ES", day); %> - <%= new Date(consulta.end).toLocaleString("es-ES", hour); %>
           
            </b></h6> <% }  } %>
            <br>
            <div class="fb-like" data-href="<%= url %>" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
			<p> <%= consulta.summary %> </p>
			<p> <%= consulta.description %> </p>
			
			<!--EL BOTON DE COMPRAR ES SOLO PARA PAQUETES-->
			<br>
			<% if(consulta.cost) { %>
            <h1>$<%= consulta.cost %>.00 </h1><br>
            <center><button onClick="location.href='apartar-paquete?paquete=<%= consulta._id %>'"> Apartar Paquete </button></center>
            <% } %>
			<br>

			
			
			<!--LOS UNICOS QUE PRESENTAN LOS AUTORES SON LOS BLOGS-->
			<br><br>


		</div>

		<div class="recomendaciones">
			<div class="h4holder">
				<h4> Contenido Destacado </h4>
			</div>

			<h2 onClick="location.href='link'"> Puesto en UABC </h2>
			<h2> Chanclazos maternos </h2>
			<h2> Arrivederchi </h2>
			<h2> HOLA COMO TAS </h2>
			<h2> muy bieni tu? </h2>
			
			<br>
			
			<center> 
				<button onClick="location.href='contenido'">Ver Todos </button>
			</center>
		</div>

		<div class="fb-comments" data-href="www.trascendencias.org<%= url %>" data-numposts="5" data-width=100% ></div>
</body>
		
<hr style="width: 100vw; border-color: rgba(0,0,0,0);"> <!--- Sin esto se hace feo el pedo -->

	
	
	<script >
		
		function activate(elem){	
		if(elem.classList.contains('active')) elem.classList.remove('active'); 
		else elem.classList.add('active'); 
		}

var currentSlide = 0; //El slide en el que está menos 1
		var slides = document.getElementById("slides");
		var totalSlides = document.getElementsByClassName("slide").length - 1 ;
		var beforeSlide = totalSlides;
		var afterSlide = 1;
		function rightSlider(){
			if(currentSlide == totalSlides){ //Número total de slides menos 1, es para cuando lleguen al final de los slides
				currentSlide = 0; 
				slides.style.left = "0px"; 
			}
			else {
				currentSlide++; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")";
			}
				}
		function leftSlider(){
			if(currentSlide == 0){ //Es el principio de los slides, si le pican para irse atrás se irá al final de los slides
				slides.style.left = "calc(-100vw *"+totalSlides+")"; 
				currentSlide = totalSlides;}
			else { 
				currentSlide--; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")"; 
			}
				}
	</script>
</html>