<html>
<head>
	<meta name=”description” content=”#!DESCRIPCION-BLOG”>
	
	<!---FACEBOOK OPTIMIZATION -->
	<meta property="og:url" content="https://trascendencias.org/contenido" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Contenido Trascendecias" />
    	
	<!---SEO OPTIMIZATION -->
	<title> Contenido de Este Año </title>
	<meta name="description" content="Contenido de este año, Trascendencias">
	<meta name="keywords" content="Contenido de Trascendencias, Trascendencias, Cetys, Universidad" >
	<meta name="author" content="Trascendencias">

	<!--- INCLUIR DOCUMENTOS -->
	<% include partials/menu.html %>
	<div class="menuspacer"></div>

	<!--- Pa que agarren los acentos -->
	<meta charset="UTF-8">

	<!-- tag para hacerlo escalable -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<!--- Pa que agarre el Styleshit los acentos -->
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>

<body>
		<!--- INDICADOR DE PAGINA -->
		<div class="pageLocation cmen">
			<h5 id="pageLocation"> Contenido </h5>
		</div> 


			<!--- ESTE SLIDER MUESTRA LOS TEASER DE CONFERENCIAS, TALLERES, VISITAS Y EVENTOS SOCIALES -->
			<div class="slider" style="margin-top: -10px;">
			
				<% 
                var teaser = new Array();
            	var A = 1; var C = 0; 
                while(A <= 20) {
                	var B = 0;
                    while(B<conferencias.length) {  
                    	if(conferencias[B].teaser_position == A){ teaser[C] = conferencias[B]; C++; }
                    B++; 
                    }
                A++;}
            %>
            
			<div class="slides main" id="slides">
			
            

            <% C = 0; while(C < teaser.length) { %> 
				<div class="slide" style="background: url('<%= teaser[C].photos[0] %>') center center; left: calc(100vw * <%= C %> );">
					<div class="slide-textholder">
						<h1 class="cwhite"> <%= teaser[C].name %> </h1> <!-- Titulo del Teaser Banner -->
						<p class="cwhite"> <%= teaser[C].summary %> <!-- Descripción del Teaser Banner -->
							<button onClick="location.href='/consulta?codigo=<%= teaser[C]._id %>&collection=conferencia'"> Leer Más </button> <!-- BOTON DE ACCION -->
						</p>
					</div>
				</div>
			<% C++; } %> 
				
			</div>
            


			<button class="left-arrow main-btn" onClick="leftSlider()"> ➜ </button>
			<button class="right-arrow main-btn" onClick="rightSlider()"> ➜ </button>			
		</div>
		



	<div class="dropContent" >
		<div class="h4holder" id="#conferencias">
			<h4> Conferencias </h4>
		</div>
			<button class="btn" onClick="activate(this)"> + </button>

		<div class="droppedContent">
			<br><br>
		
						<% conferencias.forEach(function(element) { %> 
						<div class="cardconf">
							<div class="staff2">
								<br>
								<img src="<%= element.speaker_photo %>" class="persona2">
								<h3> <%= element.speaker_name %> </h3>
								<p><i> <%= element.speaker_titles %></i></p>
							</div><br>
								
							<div class="card" onClick="location.href='consulta?codigo=<%= element._id %>&collection=conferencia'">
								<img src="<%= element.photos[0] %>">
								<h3> <%= element.name %> </h3>
								<p> <%= element.summary %> </p>
							</div>
						</div>
						<% }); %>
                        
		
		</div>
	</div>

	<div class="dropContent" >
		<div class="h4holder">
			<h4 id="#talleres"> Talleres </h4>
		</div>
		<button class="btn" onClick="activate(this)"> + </button>
		<div class="droppedContent">
					<br><br>
						
						<% talleres.forEach(function(element) { %>
							<div class="card" onClick="location.href='consulta?codigo=<% element._id %>&collection=taller'">
								<img src="<%= element.photos[0] %>">
								<h3> <%= element.name %> </h3>
								<p> <%= element.summary %> </p>
							</div>
						<% }); %>
						
		</div>
	</div>

	<div class="dropContent">
		<div class="h4holder">
			<h4 id="#visitas"> Visitas </h4>
		</div>
		<button class="btn" onClick="activate(this)"> + </button>
		<div class="droppedContent">
			<br><br>
						
						<% visitas.forEach(function(element) { %>
							<div class="card" onClick="location.href='consulta?codigo=<% element._id %>&collection=visita'">
								<img src="<%= element.photos[0] %>">
								<h3> <%= element.name %> </h3>
								<p> <%= element.summary %> </p>
							</div>
						<% }); %>
						
			
		</div>
	</div>

	<div class="dropContent" >
		<div class="h4holder">
			<h4 id="#eventsSociales"> Eventos Sociales </h4>
		</div>
		<button class="btn" onClick="activate(this)"> + </button>
		<div class="droppedContent">
			<br><br>
						
						<% eventos_sociales.forEach(function(element) { %>
							<div class="card" onClick="location.href='consulta?codigo=<% element._id %>&collection=evento_social'">
								<img src="<%= element.event_poster %>">
								<h3> <%= element.name %> </h3>
								<p> <%= element.summary %> </p>
							</div>
						<% }); %> 
		</div>
	</div>

	

</body>

	<% include partials/footer.html %>


	<script >
		
		function activate(elem){	
		if(elem.classList.contains('active')) elem.classList.remove('active'); 
		else elem.classList.add('active'); 
		}

var currentSlide = 0; //El slide en el que está menos 1
		var slides = document.getElementById("slides");
		var totalSlides = document.getElementsByClassName("slide").length - 1 ;
		var beforeSlide = totalSlides;
		var afterSlide = 1;
		function rightSlider(){
			if(currentSlide == totalSlides){ //Número total de slides menos 1, es para cuando lleguen al final de los slides
				currentSlide = 0; 
				slides.style.left = "0px"; 
			}
			else {
				currentSlide++; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")";
			}
				}
		function leftSlider(){
			if(currentSlide == 0){ //Es el principio de los slides, si le pican para irse atrás se irá al final de los slides
				slides.style.left = "calc(-100vw *"+totalSlides+")"; 
				currentSlide = totalSlides;}
			else { 
				currentSlide--; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")"; 
			}
				}
	</script>
</html>