<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="https://trascendencias.org/horario" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Horario Trascendencias" />
		
		<!---SEO OPTIMIZATION -->
		<title> Horario de Trascendencias </title>
		<meta name="description" content="Horario de Trascendencias">
		<meta name="keywords" content="Horario, Trascendencias, Cetys, Universidad" >
		<meta name="author" content="Trascendencias">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<% include partials/menu.html %>
		<div class="menuspacer"></div>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="sresources/tyle.css">

	</head>


	<body>

		<div class="pageLocation cmen">
			<h5 id="pageLocation"> Horario </h5>
		</div> 
		<div class="horario">
        
        
		<% 
        	var allEvents = conferencias.concat(talleres, visitas, eventos_sociales, eventos_extra);
            var sorted = true;
            
            while(sorted){
            	sorted = false;
                var C = 0; var A = 1;
                while(A < allEvents.length){
                if(allEvents[A].start < allEvents[C].start){
                    	var temp = allEvents[C];
                        allEvents[C] = allEvents[A];
                        allEvents[A] = temp; 
                        sorted = true; 
                    }
                C++; A++;
                } 
            } 
            
           %>
           

           
           <% 
                var C =0; 
                while(C<allEvents.length){
                	%>
                    <div class="dia">
						<center>
                        	<% var month = { month: "short"}; day = { weekday: "long"}; %>
							<h1> 
                            	<%= allEvents[C].start.getDate() %>•<%= new Date(allEvents[C].start).toLocaleString("es-ES", month); %>
                            </h1>
							<h6> <%= new Date(allEvents[C].start).toLocaleString("es-ES", day); %> </h6>
						</center>
                    
                    <%
                    var currentDay = allEvents[C].start;
                    var sameDay = true;
                	while(sameDay && C < allEvents.length){
                %>
                	<div class="staff2" <% 
                        if(allEvents[C].event_icon) {%><%}
                        else{ %> style="cursor:pointer" onClick="location.href='consulta?codigo=<%= allEvents[C]._id %>&collection=<% if(allEvents[C].speaker_photo != null){ %>conferencia<% } %><% if(allEvents[C].contact_name != null && allEvents[C].cap != null){ %>visita<% } %><% if(allEvents[C].instructor_name != null){ %>taller<% } %><% if(allEvents[C].event_poster){ %>evento-social<% } %>'<% } %>">
						<img src="
                        <% if(allEvents[C].speaker_photo != null){ %> <%= allEvents[C].speaker_photo %> <% } %>
                        <% if(allEvents[C].contact_name != null && allEvents[C].cap != null){ %>resources/ico_visita.svg<% } %>
                        <% if(allEvents[C].instructor_name != null){ %>resources/ico_taller.svg<% } %>
                        <% if(allEvents[C].event_poster){ %>resources/ico_evento-social.svg<% } %>
                        <% if(allEvents[C].event_icon){ %><%= allEvents[C].event_icon %><% } %>
                        " class="persona2">
						<% var hour = { hour: "2-digit", minute: "2-digit" } %> 
                        
                        <h3>  
                        	<%= new Date(allEvents[C].start).toLocaleString("en-us", hour); %> 
                            • <%= allEvents[C].name %>  </h3>
						<p><i> <%= allEvents[C].location %> </i></p>
					</div><br>
                
                <% 
                if(C<allEvents.length - 1){
                	if(allEvents[C+1].start != null 
                      && allEvents[C+1].start.getDate() == currentDay.getDate()
                      && allEvents[C+1].start.getMonth() == currentDay.getMonth()
                      && allEvents[C+1].start.getYear() == currentDay.getYear()
                      ){ sameDay = true;} else {sameDay = false;}
                    }
                
                
                 C++;}
                %> 
                
                </div>
                <%
                }
        	%> 
		
        
		</div> 

		<hr style="width: 100vw; border-color: rgba(0,0,0,0);"> <!-- Esto es pa que no se corra el footer, no se por que pero con esto se arregla ja-->
		
		 <!-- INCLUIR FOOTER-->
		<% include partials/footer.html %>

		
		<script>


			function activate(elem){ // ES PARA APARECER / DESAPARECER COSAS (COMO EL MENU)
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
	</body>
</html>