<html>
	<head>
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="www.Trascendencias.org" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Página Oficial de Trascendencias" />
		
		<!---SEO OPTIMIZATION -->
		<title> Trascendencias 2017 </title>
		<meta name="description" content="Página Oficial de Trascendencias Cetys Universidad">
		<meta name="keywords" content="página, oficial, trascendencias, cetys, universidad" >
		<meta name="author" content="Trascendencias">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<% include partials/menu.html %>
		<div class="menuspacer"></div>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>

	<body>
	<div class="slider main" style="margin-top: -10px;">
			<% 
                var teaser = new Array();
            	var A = 1; var C = 0; 
                while(A <= 20) {
                	var B = 0;
                    while(B<paquetes.length) {  
                    	if(paquetes[B].teaser_position == A){ teaser[C] = paquetes[B]; C++; }
                    B++; 
                    }
                    B = 0; 
                    while(B<blogs.length) {  
                    	if(blogs[B].teaser_position == A){ teaser[C] = blogs[B]; C++; }
                    B++; 
                    }
                    B = 0; 
                    while(B<conferencias.length) {  
                    	if(conferencias[B].teaser_position == A){ teaser[C] = conferencias[B]; C++; }
                    B++; 
                    }
                A++;}
            %>
            
			<div class="slides main" id="slides">
			
            
            <%= teaser.length %>  
            <% C = 0; while(C < teaser.length) { %> 
				<div class="slide main" style="background: url('<%= teaser[C].photos[0] %>') center center; left: calc(100vw * <%= C %> );">
					<div class="slide-textholder">
						<h1 class="cwhite"> <%= teaser[C].name %> </h1> <!-- Titulo del Teaser Banner -->
						<p class="cwhite"> <%= teaser[C].summary %> <!-- Descripción del Teaser Banner -->
							<button onClick="location.href='consulta?code=<%= teaser[C]._id %>'"> ¡QUIERO ASISTIR! </button> <!-- BOTON DE ACCION -->
						</p>
					</div>
				</div>
			<% C++; } %> 
				
			</div>
            


			<button class="left-arrow main-btn" onClick="leftSlider()"> ➜ </button>
			<button class="right-arrow main-btn" onClick="rightSlider()"> ➜ </button>			
		</div>
        
        <br><br><br><br>
		<center>
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/XGSy3_Czz8k" class="comercial"></iframe>
		</center>


		<div class="contenido-inicio">
			<div class="contenido-inicio1">
				<img src="resources/slider1.jpg">
				<div>
					<center>
						<h4> Conferencias </h4>
						<p> Dadas por expertos en su tema. Inspírate y aprende escuchándo en vivo lo que personas destacadas y admiradas en todo el mundo tienen que decirte. </p> 
						<button onClick="location.href='contenido#conferencias'"> Ver Todas </button>
					</center>
				</div>
			</div>

			<div class="contenido-inicio2">
				<img src="resources/slider1.jpg">
				<div>
					<center>
						<h4> Talleres </h4>
						<p> Dadas por expertos en su tema. Inspírate y aprende escuchándo en vivo lo que personas destacadas y admiradas en todo el mundo tienen que decirte. </p> 
						<button onClick="location.href='contenido#talleres'"> Ver Todas </button>
					</center>
				</div>
			</div>

			<div class="contenido-inicio1">
				<img src="resources/slider1.jpg">
				<div>
					<center>
						<h4> Visitas </h4>
						<p> Dadas por expertos en su tema. Inspírate y aprende escuchándo en vivo lo que personas destacadas y admiradas en todo el mundo tienen que decirte. </p>
						<button onClick="location.href='contenido#visitas'"> Ver Todas </button>
					</center>
				</div> 
			</div>

			<div class="contenido-inicio2">
				<img src="resources/slider1.jpg">
				<div>
					<center>
						<h4> Eventos Sociales </h4>
						<p> Dadas por expertos en su tema. Inspírate y aprende escuchándo en vivo lo que personas destacadas y admiradas en todo el mundo tienen que decirte. </p> 
						<button onClick="location.href='contenido#eventosSociales'"> Ver Todas </button>
					</center>
				</div>
			</div>
		</div>
		
        
        


		<center>
			<button class="emphasis" onClick="location.href='ventas'"> ¡Quiero Asistir! </button> 
		</center>
		<br><br><br>
<% include partials/footer.html %>


	</body>
	
	<script>

	var currentSlide = 0; //El slide en el que está menos 1
		var slides = document.getElementById("slides");
		var totalSlides = document.getElementsByClassName("slide").length - 1 ;
		var beforeSlide = totalSlides;
		var afterSlide = 1;
		function rightSlider(){
			if(currentSlide == totalSlides){ //Número total de slides menos 1, es para cuando lleguen al final de los slides
				currentSlide = 0; 
				slides.style.left = "0px"; 
			}
			else {
				currentSlide++; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")";
			}
				}
		function leftSlider(){
			if(currentSlide == 0){ //Es el principio de los slides, si le pican para irse atrás se irá al final de los slides
				slides.style.left = "calc(-100vw *"+totalSlides+")"; 
				currentSlide = totalSlides;}
			else { 
				currentSlide--; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")"; 
			}
				}

		function activate(elem){ // ES PARA APARECER / DESAPARECER COSAS (COMO EL MENU)
			if(elem.classList.contains('active')) elem.classList.remove('active'); 
			else elem.classList.add('active'); 
		}
	</script>
</html>