<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="https://trascendencias.org/informacion" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Información General Trascendencias" />
		
		<!---SEO OPTIMIZATION -->
		<title> Información General Sobre Trascendencias </title>
		<meta name="description" content="Información General Sobre Trascendencias">
		<meta name="keywords" content="Trascendencias, Qué es Trascendencias, Mexicali, Cetys, Universidad" >
		<meta name="author" content="Trascendencias">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR MENU -->
		<% include partials/menu.html %>
		<div class="menuspacer"></div>

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">

	</head>
<body> 

	<!--- INDICADOR DE PAGINA -->
	<div class="pageLocation cmen"><h5 id="pageLocation"> Información General </h5></div> 

	<!--- INICIA CONTENIDO -->
	<div class="dropContent" > 
		<div class="h4holder">
			<h4> ¿Qué es Trascendencias? </h4>
		</div>
			<button class="btn active" onClick="activate(this)"> + </button>
			<div class="droppedContent">
				<p> 
					En 1981, Cetys Universidad contaba con dos ingenierías; ciencias computacionales e industrial. En ese entonces había que viajar a ciudades más grandes para asistir a un simposio. El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”. </p>
					<p>
					Está dirigido a estudiantes y profesionistas interesados en temas actuales tecnológicos, industriales, sociales y laborales; brindando, además, a estos públicos la oportunidad de vincularse con personalidades de carácter nacional e internacional; así como compañías de alta calidad y prestigio en la región. 
				</p>
		
			</div>
	</div>


	<div class="dropContent" > 
		<div class="h4holder">
			<h4> Misión y Visión </h4>
		</div>
			<button class="btn active" onClick="activate(this)"> + </button>
			<div class="droppedContent">
			
				<h2> Misión </h2> <button class="btn active" onClick="activate(this)"> + </button>
					<div class="subContent" >
						<p> 
							Enriquecer el conocimiento y cultura de los participantes en temas de ingeniería con el fin de dejar a cada uno de los asistentes con un espectro más amplio de visión y análisis tanto para su vida laboral como para su papel de ser social.
						</p>
					</div>
				<h2> Visión </h2> <button class="btn active" onClick="activate(this)"> + </button>
					<div class="subContent" >
						<p> 
							Llevar a cabo un evento de alta calidad que sea sinónimo de las atracciones culturales más destacadas de la ciudad para gente de nuestro país y de ciudades fronterizas.
						</p>
					</div>
			</div>
	</div>

	<div class="dropContent" > 
		<div class="h4holder">
			<h4> Staff Actual </h4>
		</div>
			<button class="btn" onClick="activate(this)"> + </button>
				<div class="droppedContent">
					<br>
					<!-- COORDINADOR -->
                    
                    <% staff.forEach(function(element) { %>
                    <% if( element.position == "Coordinador" && element.team == "General") { %>
                    <div class="staff2">
						<img src="resources/user_example.png" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %> <%= element.team %> </i></p>
					</div>
                    <% } }); %>

					<!-- SUBCOORDINADOR -->
					                    
                    <% staff.forEach(function(element) { %>
                    <% if( element.position == "Subcoordinador" && element.team == "General") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %> <%= element.team %> </i></p>
					</div>
                    <% } }); %>

	
					
					<h2> Estrategia </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent" >
							
					<% staff.forEach(function(element) { %>
                    <% if( element.team == "Estrategia") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %>  </i></p>
					</div>
                    <% } }); %>

						</div>
					
					<h2> Contenido </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent" >

					<% staff.forEach(function(element) { %>
                    <% if( element.team == "Contenido") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %>  </i></p>
					</div>
                    <% } }); %>

						</div>
					
					<h2> Imagen </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent">

							<% staff.forEach(function(element) { %>
                    <% if( element.team == "Imagen") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %> </i></p>
					</div>
                    <% } }); %>

						</div>
					
					<h2> Marketing y Ventas </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent" >
							
					<% staff.forEach(function(element) { %>
                    <% if( element.team == "Marketing y Ventas") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %>  </i></p>
					</div>
                    <% } }); %>
						
						</div>
                        
                        <h2> Eventos Sociales </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent" >
							
					<% staff.forEach(function(element) { %>
                    <% if( element.team == "Eventos Sociales") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %>  </i></p>
					</div>
                    <% } }); %>
						
						</div>
                        
                        <h2> Logística </h2> <button class="btn" onClick="activate(this)"> + </button>
						<div class="subContent" >
							
					<% staff.forEach(function(element) { %>
                    <% if( element.team == "Logística") { %>
                    <div class="staff2">
						<img src="<% if(element.photo){ %><%= element.photo %><% } else { %>resources/user_example.png<% } %>" class="persona2">
						<h3> <%= element.name %> </h3>
						<p><i> <%= element.position %>  </i></p>
					</div>
                    <% } }); %>

						</div>
                        
                        
				</div>
	</div>

	

	<div class="dropContent">
		<div class="h4holder">
			<h4> ¿Te gustaría se parte del Staff? </h4>
		</div>
		<button class="btn" onClick="activate(this)"> + </button>
		<div class="droppedContent">
			<p> Los organizadores deben ser estudiantes de Ingeniería en Cetys Universidad en cualquiera de los tres campus.  </p>
				<form class="registro"> 

					<!-- NOMBRE -->
					<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Nombre'; }"  onfocus="if(this.value == 'Nombre') { this.value = ''; }" type="text" value="Nombre" name="nombre" required>

					<!-- CORREO -->
					<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Correo'; }"  onfocus="if(this.value == 'Correo') { this.value = ''; }" type="text" value="Correo" name="correo" required>

					<!-- INSTITUCION DE PROCEDENCIA -->
					<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Matrícula'; }"  onfocus="if(this.value == 'Matrícula') { this.value = ''; }" type="text" value="Matrícula" name="duda" required>
					<br><br><br><br><br>
					<button type="submit"> Enviar </button>
				</form>

		</div>
	</div>
	<br>

	

</body>
<% include partials/footer.html %>


<script >	
	function activate(elem){	
	if(elem.classList.contains('active')) elem.classList.remove('active'); 
	else elem.classList.add('active'); 
	}
</script>

</html>