<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="#!URL" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="#!TITLE" />
		<meta property="og:image" content="#!IMG" />
		
		<!---SEO OPTIMIZATION -->
		<title> #!TITLE </title>
		<meta name="description" content="#!DESCRIPTION">
		<meta name="keywords" content="#!KEY, #!WORDS, #!COMA, #!SEPARATED" >
		<meta name="author" content="#!AUTOR">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR MENU -->
		<% include menu.html %>
		<div class="menuspacer"></div>

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">

	</head>
<body> 

	<!--- INDICADOR DE PAGINA -->
	<div class="pageLocation cmen"><h5 id="pageLocation"> Información General </h5></div> 

	<!--- INICIA CONTENIDO -->
	<div class="dropContent" > 
		<div class="h4holder">
			<h4> ¿Qué es Trascendencias? </h4>
		</div>
			<button class="btn" onclick="activate(this)"> + </button>
			<div class="droppedContent">
				<p> 
					1981, Cetys Universidad contaba con dos ingenierías; ciencias computacionales e industrial. En ese entonces había que viajar a ciudades más grandes para asistir a un simposio. El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”. 
				</p>
		
			</div>
	</div>

	<div class="dropContent"> 
		<div class="h4holder">
			<h4> ¿Cómo funciona? </h4>
		</div>
			<button class="btn" onclick="activate(this)"> + </button>
			<div class="droppedContent">
					<p> 
						1981, Cetys Universidad contaba con dos ingenierías; ciencias computacionales e industrial. En ese entonces había que viajar a ciudades más grandes para asistir a un simposio. 
					</p>
					
					<h2> Primer Subtítulo </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >
							<p> 
								El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”.
							</p>
						</div>
					<h2> Segundo Subtítulo </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >
							<p> 
								El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”.
							</p>
						</div>
			</div>
	</div>

	<div class="dropContent" > 
		<div class="h4holder">
			<h4> Misión y Visión </h4>
		</div>
			<button class="btn" onclick="activate(this)"> + </button>
			<div class="droppedContent">
			
				<h2> Misión </h2> <button class="btn" onclick="activate(this)"> + </button>
					<div class="subContent" >
						<p> 
							El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”.
						</p>
					</div>
				<h2> Visión </h2> <button class="btn" onclick="activate(this)"> + </button>
					<div class="subContent" >
						<p> 
							El maestro Guillermo Cheang organizó, en ese año, el primer “Simposio de Ingeniería” en campus Mexicali, donde el objetivo era traer a conferencistas de primer nivel. Con el paso de los años, el simposio de ingeniería iba ganando experiencia y se decidió que los alumnos comenzaran a organizarlo. En 2001 surgió la idea de crear un concepto que durara por siempre, así nació “Trascendencias”.
						</p>
					</div>
			</div>
	</div>

	<div class="dropContent" > 
		<div class="h4holder">
			<h4> Staff Actual </h4>
		</div>
			<button class="btn" onclick="activate(this)"> + </button>
				<div class="droppedContent">
					<br>
					<!-- COORDINADOR -->
					<div class="staff2">
						<img src="resources/user_example.png" class="persona2">
						<h3> Nombre Nombre Apellido </h3>
						<p><i> Coordinador Trasce </i></p>
					</div><br>

					<!-- SUBCOORDINADOR -->
					<div class="staff2">
						<img src="resources/user_example.png" class="persona2">
						<h3> Nombre Nombre Apellido </h3>
						<p><i> Subcoordinador Trasce </i></p>
					</div><br>

					<!-- POR DEPARTAMENTOS -->
					<h2> Logística </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >
							
							<div class="staff2">
								<img src="resources/user_example.png" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

						</div>
					
					<h2> Estrategia </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >
							
							<div class="staff2">
								<img src="resources/user_example.png" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

						</div>
					
					<h2> Contenido </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >

							<div class="staff2">
								<img src="resources/user_example.png" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

						</div>
					
					<h2> Imágen </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent">

							<div class="staff2">
								<img src="resources/user_example.png" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>

						</div>
					
					<h2> Marketing y Ventas </h2> <button class="btn" onclick="activate(this)"> + </button>
						<div class="subContent" >
							
							<div class="staff2">
								<img src="resources/user_example.png" class="persona2">
								<h3> Nombre Nombre Apellido </h3>
								<p><i> Puesto en Trasce </i></p>
							</div><br>
						
						</div>
				</div>
	</div>

	<div class="dropContent" > 
		<div class="h4holder">
			<h4> Staff Pasados </h4>
		</div>
			<button class="btn" onclick="activate(this)"> + </button>
			<div class="droppedContent">
				
				<h2> 2016 </h2> <button class="btn" onclick="activate(this)"> + </button>
				<div class="subContent level3 ">
						<!-- COORDINADOR --> 
						<div class="staff2">
							<img src="resources/user_example.png" class="persona2">
							<h3> Nombre Nombre Apellido </h3>
							<p><i> Coordinador Trasce </i></p>
						</div><br>
						<!-- SUBCOORDINADOR --> 
						<div class="staff2">
							<img src="resources/user_example.png" class="persona2">
							<h3> Nombre Nombre Apellido </h3>
							<p><i> Subcoordinador Trasce </i></p>
						</div><br>

						<!-- POR DEPARTAMENTOS --> 
						<h2> Logística </h2> <button class="btn" onclick="activate(this)"> + </button>
							<div class="subContent" >
								
								<div class="staff2">
									<img src="resources/user_example.png" class="persona2">
									<h3> Nombre Nombre Apellido </h3>
									<p><i> Puesto en Trasce </i></p>
								</div><br>

							</div>
						
						<h2> Estrategia </h2> <button class="btn" onclick="activate(this)"> + </button>
							<div class="subContent">
								
								<div class="staff2">
									<img src="resources/user_example.png" class="persona2">
									<h3> Nombre Nombre Apellido </h3>
									<p><i> Puesto en Trasce </i></p>
								</div><br>

							</div>
						
						<h2> Contenido </h2> <button class="btn" onclick="activate(this)"> + </button>
							<div class="subContent">
								
								<div class="staff2">
									<img src="resources/user_example.png" class="persona2">
									<h3> Nombre Nombre Apellido </h3>
									<p><i> Puesto en Trasce </i></p>
								</div><br>

							</div>
						
						<h2> Imágen </h2> <button class="btn" onclick="activate(this)"> + </button>
							<div class="subContent">
								
								<div class="staff2">
									<img src="resources/user_example.png" class="persona2">
									<h3> Nombre Nombre Apellido </h3>
									<p><i> Puesto en Trasce </i></p>
								</div><br>

							</div>
						
						<h2> Marketing y Ventas </h2> <button class="btn" onclick="activate(this)"> + </button>
							<div class="subContent">
								
								<div class="staff2">
									<img src="resources/user_example.png" class="persona2">
									<h3> Nombre Nombre Apellido </h3>
									<p><i> Puesto en Trasce </i></p>
								</div><br>

							</div>
				</div>
		</div>
	</div>

	<div class="dropContent">
		<div class="h4holder">
			<h4> ¿Te gustaría se parte del Staff? </h4>
		</div>
		<button class="btn" onclick="activate(this)"> + </button>
		<div class="droppedContent">
			<p> Los organizadores deben ser estudiantes de Ingeniería en Cetys Universidad en cualquiera de los tres campus.  </p>
				<form class="registro"> <br><br>

					<!-- NOMBRE -->
					<input maxlength="50" onblur="if (this.value == '') { this.value = 'Nombre'; }"  onfocus="if(this.value == 'Nombre') { this.value = ''; }" type="text" value="Nombre" name="nombre" required>
					<p class="error"> *Debe llenar esta información </p>

					<!-- CORREO -->
					<input maxlength="50" onblur="if (this.value == '') { this.value = 'Correo'; }"  onfocus="if(this.value == 'Correo') { this.value = ''; }" type="text" value="Correo" name="correo" required>
					<p class="error"> *Debe llenar esta información </p>

					<!-- INSTITUCION DE PROCEDENCIA -->
					<input maxlength="50" onblur="if (this.value == '') { this.value = 'Matrícula'; }"  onfocus="if(this.value == 'Matrícula') { this.value = ''; }" type="text" value="Matrícula" name="duda" required>
					<p class="error"> *Debe llenar esta información </p>
					<br><br><br>
					<button type="submit"> Enviar </button>
				</form>

		</div>
	</div>
	<br>

	

</body>
<% include footer.html %>

<script >	
	function activate(elem){	
	if(elem.classList.contains('active')) elem.classList.remove('active'); 
	else elem.classList.add('active'); 
	}
</script>

</html>