<html> 
	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="http://www.Trascendencias.org/Mapa" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Mapa Cetys" />
		<meta property="og:image" content="resources/mapa.jpg" />
		
		<!---SEO OPTIMIZATION -->
		<title> Mapa Cetys </title>
		<meta name="description" content="Mapa Cetys Universidad Campus Mexicali">
		<meta name="keywords" content="Mapa, Cetys, Universidad, Campus, Mexicali, Trascendencias" >
		<meta name="author" content="Trascendencias">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<% include partials/menu.html %>
		<div class="menuspacer"></div>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
	<div class="pageLocation cmen">
		<h5 id="pageLocation"> Mapa </h5>
	</div> 
	<style>

		.mapa img{
			width: 100%;
			height: auto;
		}
	</style>
	
	<div class="mapa">
		<img src="resources/mapa.jpg">
	</div>
	<br>
	







		<% include partials/footer.html %>

		

<script>
		
		function activate(elem){
			if(elem.classList.contains('active')) elem.classList.remove('active'); 
			else elem.classList.add('active'); 
		}

		</script>
	</body>
</html>