<head>
	<meta name=”description” content=”#!DESCRIPCION-BLOG”>
	
	<!---FACEBOOK OPTIMIZATION -->
	<meta property="og:url" content="https://trascendencias.org/preguntas-frecuentes" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Preguntas Frecuentes Trascendencias" />
	
	<!---SEO OPTIMIZATION -->
	<title> Ayuda: Preguntas Frecuentes </title>
	<meta name="description" content="Preguntas Frecuentes Trascendencias">
	<meta name="keywords" content="preguntas, frecuentes, trascendencias, cetys, universidad" >
	<meta name="author" content="Trascendencias">

	<!--- INCLUIR MENU -->
	<% include partials/menu.html %>
	<div class="menuspacer"></div>

	<!--- Pa que agarren los acentos -->
	<meta charset="UTF-8">

	<!-- tag para hacerlo escalable -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<!--- Pa que agarre el Styleshit los acentos -->
	<link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>

<!--- INDICADOR DE PAGINA -->
	<div class="pageLocation cmen">
		<h5 id="pageLocation"> Preguntas Frecuentes </h5>
	</div> 
    
    
    
    <% preguntas_frecuentes.forEach(function(element) { %> 

<div class="dropContent" id="p1"> <!-- Primera Pregunta -->
	<div class="h4holder">
		<h4> <%= element.name %> </h4>
	</div>
	<button class="btn" onClick="activate(this)"> + </button>
	<div class="droppedContent">
		<p> 
			<%= element.answer %>
		</p>
		
			</div>
	</div>
</div>

<% }); %>




<div class="dropContent" id="p3"> <!-- Primera Pregunta -->
	<div class="h4holder">
		<h4> ¿Sigues con la duda? </h4>
	</div>
	<button class="btn" onClick="activate(this)"> + </button>
	<div class="droppedContent">
		<p> Ponte en contacto con nosotros y te responderemos en seguida. </p>
		<form class="registro">

			<!-- NOMBRE -->
			<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Nombre'; }"  onfocus="if(this.value == 'Nombre') { this.value = ''; }" type="text" value="Nombre" name="nombre" required>

			<!-- CORREO -->
			<input maxlength="50" onBlur="if (this.value == '') { this.value = 'Correo'; }"  onfocus="if(this.value == 'Correo') { this.value = ''; }" type="text" value="Correo" name="correo" required>

			<!-- INSTITUCION DE PROCEDENCIA -->
			<input maxlength="50" onBlur="if (this.value == '') { this.value = '¿Cuál es tu duda?'; }"  onfocus="if(this.value == '¿Cuál es tu duda?') { this.value = ''; }" type="text" value="¿Cuál es tu duda?" name="duda" required>
			<br><br><br>
			<button type="submit"> Enviar </button>
		</form>

	</div>
</div>










</body>

<% include partials/footer.html %>


<script >
	function activate(elem){	
	if(elem.classList.contains('active')) elem.classList.remove('active'); 
	else elem.classList.add('active'); 
	}
</script>

</html>