<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="#!URL" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="#!TITLE" />
		<meta property="og:image" content="#!IMG" />
		
		<!---SEO OPTIMIZATION -->
		<title> #!TITLE </title>
		<meta name="description" content="#!DESCRIPTION">
		<meta name="keywords" content="#!KEY, #!WORDS, #!COMA, #!SEPARATED" >
		<meta name="author" content="#!AUTOR">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<% include partials/menu.html %>
		<div class="menuspacer"></div>

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
	<div class="pageLocation cmen">
		<h5 id="pageLocation"> Ventas > Registro </h5>
	</div> 
		<div class="registro">
		<br>
		<center><h6> <b>Nombre del Paquete </b></h6> </center>
		<img src="resources/slider1.jpg"> <!--- AQUI VA LA IMAGEN DEL PAQUTE -->
			<p style="color: red;"> <%= message %> </p>
			<form class="registro" action="signup" method="post"> <br><br>
				<!-- NOMBRE -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Nombre'; }"  onfocus="if(this.value == 'Nombre') { this.value = ''; }" type="text" value="Nombre" name="name" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- TALLA -->
				<input maxlength="1" onblur="if (this.value == '') { this.value = 'Talla de camiseta'; }"  onfocus="if(this.value == 'Talla de camiseta') { this.value = ''; }" type="text" value="Talla de camiseta" name="shirt_size" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- CORREO -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Correo'; }"  onfocus="if(this.value == 'Correo') { this.value = ''; }" type="text" value="Correo" name="email" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- INSTITUCION DE PROCEDENCIA -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Institución de procedencia'; }"  onfocus="if(this.value == 'Institución de procedencia') { this.value = ''; }" type="text" value="Institución de procedencia" name="institution" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- CIUDAD -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Ciudad'; }"  onfocus="if(this.value == 'Ciudad') { this.value = ''; }" type="text" value="Ciudad" name="city" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- TELEFONO -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Teléfono'; }"  onfocus="if(this.value == 'Teléfono') { this.value = ''; }" type="text" value="Teléfono" name="phone" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- CONTRASENA -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Contraseña'; this.type='text' }"  onfocus="if(this.value == 'Contraseña') { this.value = ''; this.type='password'}" type="text" value="Contraseña" name="password" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- REPITE LA CONTRASENA -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = 'Repita la contraseña'; this.type='text' }"  onfocus="if(this.value == 'Repita la contraseña') { this.value = ''; this.type='password'}" type="text" value="Repita la contraseña" name="password_repeat" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- CODIGO DE GRUPO -->
				

				<input id="codigo-grupo" maxlength="50" onblur="if (this.value == '') { this.value = 'Código de Grupo'; }"  onfocus="if(this.value == 'Código de Grupo') { this.value = ''; }" type="text" value="Código de Grupo" name="group_code" required>
				<button class="second"> Nuevo </button>
				<p class="error"> *Debe llenar esta información </p>
								


				<!-- ALERGIAS -->
				<input maxlength="50" onblur="if (this.value == '') { this.value = '¿Tienes alergias?'; }"  onfocus="if(this.value == '¿Tienes alergias?') { this.value = ''; }" type="text" value="¿Tienes alergias?" name="alergies" required>
				<p class="error"> *Debe llenar esta información </p>

				<!-- TERMINOS Y CONDICIONES -->
				<p> <input type="checkbox"> Acepto los <span class="cmenta" onclick="location.href='terminosycondiciones'"> términos y condiciones </span> </p>
				<h1> $750.00 </h1>

				<button type="submit" onclick="location.href='registro-terminado"> Siguiente </button>
			
			</form>

				<br><br><br>
				<h2> Paquetes de Grupo </h2>
				<p> El código de grupo es el código que se utiliza para identificar a todos los miembros de una paquete de más de 1 persona. Si alguien de tu grupo ya se ha registrado utiliza su código para hacer válida la paquete. Se puede abonar por persona y se abonará a su cuenta o se puede abonar al código de grupo y el abono se dividirá entre todos los integrantes.</p>
		
		</div>





</body>
		
		<script>

			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
</html>