<html> 

	<head>		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="www.trascendencias.org/signup" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="#!TITLE" />
		
		<!---SEO OPTIMIZATION -->
		<title> Registrarse </title>
		<meta name="description" content="#!DESCRIPTION">
		<meta name="keywords" content="#!KEY, #!WORDS, #!COMA, #!SEPARATED" >
		<meta name="author" content="#!AUTOR">

		<!-- tag para hacerlo escalable -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<!--- INCLUIR DOCUMENTOS -->
		<% include partials/menu.html %>
		<div class="menuspacer"></div>

		<!--- Pa que agarren los acentos -->
		<meta charset="UTF-8">

		<!--- Pa que agarre el Styleshit los acentos -->
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
		<div class="registro">
		<br><br><br>
		<center><h6> <b>Registrarse </b></h6> </center>
			<p style="color: red;"> <%= message %> </p>
			<form class="registro" action="signup" method="post"> <br><br>
				<!-- NOMBRE -->
				<input maxlength="50" placeholder="Nombre y Apellido" type="text" name="name" required>
				

				<!-- CORREO -->
				<input maxlength="50" type="email" placeholder="Correo" name="email" required>
				

				<!-- INSTITUCION DE PROCEDENCIA -->
				<input maxlength="50" type="text" placeholder="Institución de procedencia" name="institution" required>
				

				<select class="select" name="academic_level" required>
                  <option disabled selected> Nivel Académico... </option>
                  <option value="Primaria"> Primaria </option>
                  <option value="Secundaria"> Secundaria </option>
                  <option value="Preparatoria"> Preparatoria </option>
                  <option value="Universidad"> Universidad </option>
                  <option value="Otro"> Otro </option>
                </select>
                
                <select class="select" name="semester" required>
                  <option disabled selected> Semestre...</option>
                  <option value="1er"> 1er </option>
                  <option value="2do"> 2do </option>
                  <option value="3er"> 3er </option>
                  <option value="4to"> 4to </option>
                  <option value="5to"> 5to </option>
                  <option value="6to"> 6to </option>
                  <option value="7mo"> 7mo </option>
                  <option value="8vo"> 8vo </option>
                  <option value="9no"> 9no </option>
                  <option value="Otro"> Otro... </option>
                </select>

				<!-- CIUDAD -->
				<input maxlength="50"  type="text" placeholder="Ciudad" name="city" required>
				

				<!-- TELEFONO -->
				<input maxlength="50" type="number" placeholder="Teléfono" name="phone" required>
				

				<!-- CONTRASENA -->
				<input maxlength="50"  type="password" placeholder="Contraseña" name="password" required>
				

				<!-- REPITE LA CONTRASENA -->
				<input maxlength="50" type="password" placeholder="Repita la contraseña" name="password_repeat" required>
				

				<!-- ALERGIAS -->
				<input maxlength="50" type="text" placeholder="¿Tienes alergias?" name="alergies" required>
				

				<!-- TERMINOS Y CONDICIONES -->
				<p> <input type="checkbox" required> Acepto los <span class="cmenta" onClick="location.href='terminosycondiciones'"> términos y condiciones </span> </p>

				<button type="submit" onClick="location.href='registro-terminado"> Siguiente </button>
                <br><br><br>
			
			</form>


		
		</div>





</body>
		
		<script>

			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}
		</script>
</html>