<html> 

    <head>      
        <!-- tag para hacerlo escalable -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

        
        <title> Información del Usuario </title>
        <% include partials/menu.html %>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="resources/style.css">
    
    </head>

<body>
        
        <div class="body">
        <br>
        <br><br>

        
        <center>
        <br><br>
        
        <br>
        	<img src="
        <% if(user.facebook.id) {%>
        https://graph.facebook.com/<%= user.facebook.id %>/picture?type=large
        <% } else { %> resources/user_example.png<% } %>
        " class="consultausuario">
                    <h3 style="font-size: 20px"> <%= user.name %> </h3>

        </center>
        <br>
        
        <% if(user.verified) { %>
								<% if(locals.user.selected_package) { %>
									<b><p> Paquete Elegido: <%= user.selected_package.package.name %> </p>
									<p> Restante: <span class="dineromenos"><%= user.package_information.debt %> pesos</span> </p></b>
								<% } else { %>
									<h2>No has elegido paquete.</h2>
								<% } %>
							<% } else { %>
								<% if(user.local && !user.facebook) { %>
									<h3>Favor de verificar tu cuenta en el correo registrado.</h3>
								<% } if(user.facebook) { %>	
									<h3 onClick="location.href='validacion-facebook'">Favor de verificar tu informacion dando click <u>aqui</u>.</h3>
								<% } %>
							<% } %>

        <hr>
        <p> <%= user.email %>  </p>
        <p> <%= user.institution %>  </p>
        <p> <%= user.academic_level %>, <%= user.semester %> Semestre </p>
        <p> <%= user.city %> </p>
        <p> <%= user.phone %> </p>
        <p> Alergias: <%= user.alergies %> </p>
  
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=https://trascendencias.org:8443/registro/abono?id=<%= user._id %>" class="qr">
  
        <hr>

        



        <h3> Abonos: </h3>   
        
        <%
					var options = {  
					    weekday: "long", year: "numeric", month: "long",  
					    day: "numeric", hour: "2-digit", minute: "2-digit",
					    timeZone: 'America/Tijuana'
					};
				%>
        <% acciones.forEach(function(element) { %>
	                <div class="accion">
		           		
                        <% if(element.content_type == "dinero+") { %>
                         
                        <h3 class="dineromas" > +$<%= element.content_message %> 
                        </h3><p> <%= new Date(element.date).toLocaleString("en-us", options); %></p> <br>
		           		 <p> Abonado por: <i> <%= element.actor_name %> </i> </p
                        
                         ><% }%>
                         
                         <% if(element.content_type == "registro") { %>
                         
                        <h3> Registro por <%= element.content_message %>
                        </h3><p> <%= new Date(element.date).toLocaleString("en-us", options); %></p> <br>
	                       	<% if(element.actor_name) { %>
			           		 <p> Registrado por: <i> <%= element.actor_name %> </i> </p>
	                        <% } %>
	                       <% } %>
                         
                         <% if(element.content_type == "liquidado") { %>
                        <h3> Liquidado
                        </h3><p> <%= new Date(element.date).toLocaleString("en-us", options); %></p> <br>
		           		 <p> Abonado por: <i> <%= element.actor_name %> </i> </p
                        
                         ><% }%>
                         
                         
	        		</div>
                <% }); %>


        </div>

</body>
        
        

<script>
        	w3.includeHTML(); //INCLUIR DOCUMENTOS
			
			function activate(elem){ //ACTIVE, PARA EL MENU MOVIL
				if(elem.classList.contains('active')) elem.classList.remove('active'); 
				else elem.classList.add('active'); 
			}

        </script>
</html>