<html> 

	<head>
		
		<!---FACEBOOK OPTIMIZATION -->
		<meta property="og:url" content="http://www.trascendencias.org/ventas" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="Comprar Paquetes Trascendencias" />
		
		<!---SEO OPTIMIZATION -->
		<title> Comprar Paquetes Trascendencias </title>
		<meta name="description" content="Se parte de Trascendencias ">
		<meta name="keywords" content="comprar, paquetes, trascendencias, cetys, mexicali" >
		<meta name="author" content="Trascendencias">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<% include partials/menu.html %>
		<div class="menuspacer"></div>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="resources/style.css">
	</head>


	<body>
	<div class="pageLocation cmen">
		<h5 id="pageLocation"> Comprar Paquetes </h5>
	</div> 




<div class="slider" style="margin-top: -10px;">
			
				<% 
                var teaser = new Array();
            	var A = 1; var C = 0; 
                while(A <= 20) {
                	var B = 0;
                    while(B<paquetes.length) {  
                    	if(paquetes[B].teaser_position == A){ teaser[C] = paquetes[B]; C++; }
                    B++; 
                    }
                A++;}
            %>
            
			<div class="slides main" id="slides">
			
            

            <% C = 0; while(C < teaser.length) { %> 
				<div class="slide" style="background-image: url('<%= teaser[C].photos[0] %>'); left: calc(100vw * <%= C %> );">
					<div class="slide-textholder">
						<h1 class="cwhite"> <%= teaser[C].name %> </h1> <!-- Titulo del Teaser Banner -->
						<p class="cwhite"> <%= teaser[C].summary %> <!-- Descripción del Teaser Banner -->
							<button onClick="location.href='consulta?codigo=<%= teaser[C]._id %>&collection=paquetes'"> Leer Más </button> <!-- BOTON DE ACCION -->
						</p>
					</div>
				</div>
			<% C++; } %> 
				
			</div>
            


			<button class="left-arrow main-btn" onClick="leftSlider()"> ➜ </button>
			<button class="right-arrow main-btn" onClick="rightSlider()"> ➜ </button>			
		</div>

<br><br>


		<% today = new Date(); %>
       

		<div class="card-holder">
			<% paquetes.forEach(function(element) { %>
                <div class="card <% startDay = new Date(element.start); endDay = new Date(element.end); %><% if(+startDay < +today && +endDay > +today){} else { %>dim<% } %>"
                	onClick="location.href='consulta?codigo=<%= element._id %>&collection=paquetes'">
					<img src="<%= element.photos[0] %>">
					<h3> $<%= element.cost %>: <%= element.name %> </h3>
					<p> <%= element.summary %> </p>
				</div>
			<% }); %>
	</div>
    <div class="dropContent" id="puntos-de-venta" >
		<div class="h4holder">
			<h4> Puntos de Venta </h4>
		</div>
		<button class="btn" onClick="activate(this)"> + </button>
		<div class="droppedContent">
							
		<% puntos_de_venta.forEach(function(element) { %>
        
            <% startDate = new Date(element.start); endDate = new Date(element.end); %>
            <% if(+startDate > +today || +endDate > +today){ %>
		
            	<div class="staff2">		
                    <h3> <%= element.name %>: <%= element.location %>   </h3>
                    <p> <%
                        var options = {  
                            year: "numeric", month: "short",  
                            day: "numeric", hour: "2-digit", minute: "2-digit" 
                        };
    
                        var hour_options = {
                            hour: "2-digit", minute: "2-digit"
                        };
                    %>
                    <%= element.start.toLocaleTimeString("en-us", options); %>
                    -
                    <%= element.end.toLocaleTimeString("en-us", hour_options); %> </p>
				</div>
            <% } %>
		<% }); %>
                          
		</div>
	</div>

</body>

<% include partials/footer.html %>

<script>
	
	function activate(elem){
		if(elem.classList.contains('active')) elem.classList.remove('active'); 
		else elem.classList.add('active'); 
	}
		
		
var currentSlide = 0; //El slide en el que está menos 1
		var slides = document.getElementById("slides");
		var totalSlides = document.getElementsByClassName("slide").length - 1 ;
		var beforeSlide = totalSlides;
		var afterSlide = 1;
		function rightSlider(){
			if(currentSlide == totalSlides){ //Número total de slides menos 1, es para cuando lleguen al final de los slides
				currentSlide = 0; 
				slides.style.left = "0px"; 
			}
			else {
				currentSlide++; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")";
			}
				}
		function leftSlider(){
			if(currentSlide == 0){ //Es el principio de los slides, si le pican para irse atrás se irá al final de los slides
				slides.style.left = "calc(-100vw *"+totalSlides+")"; 
				currentSlide = totalSlides;}
			else { 
				currentSlide--; 
				slides.style.left = "calc(-100vw * " + currentSlide + ")"; 
			}
				}
		</script>
	</body>
</html>

